extends /layouts/about.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'title':       'Detail',
        'faculty':     'Faculties',
        'breadcrumb': {
          'home':      'Home',
          'about':     'About',
          'faculty':   'Faculty',
        },
        'home':        'Home',
        'about':       'About',
        'office':      'Office Address',
        'tel':         'Office Tel',
        'ext':         'ext.',
        'lab':         'Laboratory',
        'address':     'Address',
        'education':   'School Record',
        'experience':  'Record',
        'award':       'Honor & Awards',
        'publication': 'Publications',
        'department': {
          '0':         'dept. CSIE',
          '1':         'inst. CSIE',
          '3':         'IMI',
          '4':         'IMIS',
        },
        'degree': {
          '0':         'B.S.',
          '1':         'M.S.',
          '2':         'Ph.D',
        },
        'patent': {
          'type':      'Type',
          'name':      'Name',
          'nation':    'Nation',
          'owner':     'Owner',
          'inventor':  'Inventor',
          'number':    'Patent Number',
          'period':    'Period',
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'title':       '詳細資料',
        'faculty':     '師資陣容',
        'breadcrumb': {
          'home':      '首頁',
          'about':     '關於本系',
          'faculty':   '師資陣容',
        },
        'home':        '首頁',
        'about':       '關於本系',
        'office':      '辦公室',
        'tel':         '電話',
        'ext':         '分機',
        'lab':         '實驗室',
        'address':     '位置',
        'education':   '學歷',
        'experience':  '經歷',
        'award':       '榮譽及獲獎',
        'publication': '著作',
        'department': {
          '0':         '資訊系',
          '1':         '資訊所',
          '3':         '醫資所',
          '4':         '製造所',
        },
        'degree': {
          '0':         '學士',
          '1':         '碩士',
          '2':         '博士',
        },
        'patent': {
          'title':     '專利',
          'type':      '類別',
          'name':      '專利名稱',
          'nation':    '國別',
          'owner':     '專利權人',
          'inventor':  '發明人',
          'number':    '專利號碼',
          'date':      '專利期間',
        },
        'technologyTransfer': {
          'title':            '技術轉移',
          'index':            '項次',
          'technologyName':   '技術名稱',
          'patentName':       '專利名稱',
          'authorizingParty': '授權單位',
          'authorizedParty:': '接受單位',
          'period':           '合約期間',
        },
        'project': {
          '0':       '國科會計畫',
          '1':       '一般建教案',
          'name':    '計畫名稱',
          'period':  '起訖日期',
          'support': '補助單位',
        }
      },
    } );
    const currentRoute = 'about/faculty-detail';

append title
  +title( profile.name )

append stylesheets
  +css( 'about/faculty-detail' )

append header
  +banner( i18n[ LANG.id ].title )
  +breadcrumb( [
    { text: i18n[ LANG.id ].breadcrumb.home, url: '' },
    { text: i18n[ LANG.id ].breadcrumb.about, url: 'about' },
    { text: i18n[ LANG.id ].breadcrumb.faculty, url: 'about/faculty' },
    { text: profile.name },
  ] )
append content
  include /components/common/topic.pug
  include /components/common/image.pug

  section.headline
    header.headline__name= profile.name
    aside.headline__titles.titles
      each title in titles
        span.titles__title= title.name
  section.profile
    aside.profile__departments.departments
      each department in departments
        span.departments__department= i18n[ LANG.id ].department[ department.type ]
    aside.profile__offices.offices
      address.offices__address= `${ i18n[ LANG.id ].office }： ${ profile.office.address }`
      - const officePhone = `${ i18n[ LANG.id ].tel }: ${ profile.office.tel.split(',').join( ` ${ i18n[ LANG.id ].ext } ` ) }`
      a.offices__phone( href = `tel:${ profile.office.tel }` )= officePhone
    a.profile__email( href = `mailto:${ profile.email }` )= `Email： ${ profile.email }`
    aside.profile__labs.labs
      if profile.lab
        a.labs__lab( href = profile.lab.labWeb )= `${ i18n[ LANG.id ].lab }: ${ profile.lab.name }`
        address.labs__address= `${ i18n[ LANG.id ].address }: ${ profile.lab.address }`
        - const labTel = `${ i18n[ LANG.id ].tel }: ${ profile.lab.tel.split(',').join( ` ${ i18n[ LANG.id ].ext } ` ) }`
        a.labs__tel( href = `tel:${ profile.lab.tel }` )= labTel
    if profile.personalWeb
      a.profile__website( href = profile.personalWeb )= `個人網頁： ${ profile.personalWeb }`
  section.education
    h2.education__title= i18n[ LANG.id ].education
    each education in educations
      ul.education__list.list
        li.list__from= education.from
        li.list__to= education.to
        li.list__nation= education.nation
        li.list__school= education.school
        li.list__major= education.major
        li.list__degree= i18n[ LANG.id ].degree[ education.degree ]
  section.experience
    h2.education__title= i18n[ LANG.id ].experience
    each experience in experiences
      ul.experience__list.list
        li.list__from= experience.from
        li.list__to= experience.to
        li.list__organization= experience.organization
        li.list__department= experience.department
        li.list__title= experience.title
  section.award
    h2.award__title= i18n[ LANG.id ].award
    - awards.sort( ( awardA, awardB ) => awardA.awardYear - awardB.awardYear )
    each award in awards
      if award.awardYear !== 0
        h3.award__year= award.awardYear
      ul.award__list.list
        each awardName in award.awardName
          li.list__name= awardName
  section.publication
    h2.publication__title= i18n[ LANG.id ].publication
    h3.publication__paper Papers
    ul.publication__paperList.paperList
      each publication in publications
        li.paperList__data= publication.publication
  if patents.length !== 0
    section.patent
      h2.patent__title= i18n[ LANG.id ].patent.title
      table.patent__table.table
        thead.table__head.head
          tr.head__row.row
            th.row__type= i18n[ LANG.id ].patent.type
            th.row__name= i18n[ LANG.id ].patent.name
            th.row__nation= i18n[ LANG.id ].patent.nation
            th.row__owner= i18n[ LANG.id ].patent.owner
            th.row__inventor= i18n[ LANG.id ].patent.inventor
            th.row__number= i18n[ LANG.id ].patent.number
            th.row__date= i18n[ LANG.id ].patent.period
        tbody.table__body.body
          each patent in patents
            tr.body__row.row
              td.row__type= patent.type
              td.row__name= patent.patent
              td.row__nation= patent.nation
              td.row__owner= patent.patentOwner
              td.row__inventor= patent.inventor
              td.row__number= patent.certificationNumber
              td.row__date= `${ patent.issue_date ? patent.issue_date : '' } ~ ${ patent.expire_date ? patent.expire_date : '' }`
  if technologyTransfers.length !== 0
    section.transfer
      h2.transfer__title= i18n[ LANG.id ].technologyTransfer.title
      table.transfer__table.table
        thead.table__head.head
          tr.head__row.row
            th.row__index= i18n[ LANG.id ].technologyTransfer.index
            th.row__technologyName= i18n[ LANG.id ].technologyTransfer.technologyName
            th.row__patentName= i18n[ LANG.id ].technologyTransfer.patentName
            th.row__authorizingParty= i18n[ LANG.id ].technologyTransfer.authorizingParty
            th.row__authorizedParty= i18n[ LANG.id ].technologyTransfer.authorizedParty
            th.row__period= i18n[ LANG.id ].technologyTransfer.period
        tbody.table__body.body
          each technologyTransfer, index in technologyTransfers
            tr.body__row.row
              th.row__index= index+1
              th.row__technologyName= technologyTransfer.technology
              th.row__patentName= technologyTransfer.patent
              th.row__authorizingParty= technologyTransfer.authorizingParty
              th.row__authorizedParty= technologyTransfer.authorizedParty
              th.row__period= `${ technologyTransfer.from ? technologyTransfer.from : '' } ~ ${ technologyTransfer.to ? technologyTransfer.to : '' }`
  section.project
    if projects[ '0' ].length !== 0
      h2.project__title= i18n[ LANG.id ].project[ '0' ]
      table.project__table.table
        thead.table__head.head
          tr.head__row.row
            th.row__name= i18n[ LANG.id ].project.name
            th.row__period= i18n[ LANG.id ].project.period
            th.row__support= i18n[ LANG.id ].project.support
        tbody.table__body.body
          each project in projects[ '0' ]
            tr.body__row.row
              td.row__name= project.name
              td.row__period= `${ project.from ? project.from : '' } ~ ${ project.to ? project.to : '' }`
              td.row__support= project.support
    if projects[ '1' ].length !== 0
      h2.project__title= i18n[ LANG.id ].project[ '1' ]
      table.project__table.table
        thead.table__head.head
          tr.head__row.row
            th.row__name= i18n[ LANG.id ].project.name
            th.row__period= i18n[ LANG.id ].project.period
            th.row__support= i18n[ LANG.id ].project.support
        tbody.table__body.body
          each project in projects[ '1' ]
            tr.body__row.row
              td.row__name= project.name
              td.row__period
              td.row__support= project.support
  section.conference
    h2.conference.title Conference
    ul.conference__list.list
      each conference in conferences
        li.list__data= conference.name
  img.photo( src = `http://www.csie.ncku.edu.tw/ncku_csie/images/teacher/teacher${ profile.profileId }.jpg`, alt = 'Image Title' )

append footer

append scripts
  +js( 'about/faculty-detail' )
