extends /layouts/about.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'title':       'Detail',
        'faculty':     'Faculties',
        'breadcrumb': {
          'home':      'Home',
          'about':     'About',
          'faculty':   'Faculty',
        },
        'home':        'Home',
        'about':       'About',
        'office':      'Office Address',
        'tel':         'Office Tel',
        'ext':         'ext.',
        'lab':         'Laboratory',
        'address':     'Address',
        'education':   'School Record',
        'experience':  'Record',
        'award':       'Honor & Awards',
        'publication': 'Publications',
        'patent': {
          'type':      'Type',
          'name':      'Name',
          'nation':    'Nation',
          'owner':     'Owner',
          'inventor':  'Inventor',
          'number':    'Patent Number',
          'period':    'Period',
        },
        'project': {
          'name':    '計畫名稱',
          'period':  '起訖日期',
          'support': '補助單位',
          'category':'category',
          'general':'General Projects',
          'national':'National Science Council Projects',
        }
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'title':       '詳細資料',
        'faculty':     '師資陣容',
        'breadcrumb': {
          'home':      '首頁',
          'about':     '關於本系',
          'faculty':   '師資陣容',
        },
        'home':        '首頁',
        'about':       '關於本系',
        'office':      '辦公室',
        'tel':         '電話',
        'ext':         '分機',
        'lab':         '實驗室',
        'address':     '位置',
        'education':   '學歷',
        'experience':  '經歷',
        'award':       '榮譽及獲獎',
        'publication': '著作',
        'patent': {
          'title':     '專利',
          'type':      '類別',
          'name':      '專利名稱',
          'nation':    '國別',
          'owner':     '專利權人',
          'inventor':  '發明人',
          'number':    '專利號碼',
          'date':      '專利期間',
        },
        'technologyTransfer': {
          'title':            '技術轉移',
          'index':            '項次',
          'technologyName':   '技術名稱',
          'patentName':       '專利名稱',
          'authorizingParty': '授權單位',
          'authorizedParty': '接受單位',
          'period':           '合約期間',
        },
        'project': {
          'name':    '研究計畫',
          'period':  '起訖日期',
          'support': '補助單位',
          'category':'種類',
          'general':'一般建教案',
          'national':'國科會計劃',
        }
      },
    } );
    const currentRoute = 'about/faculty-detail';

append title
  +title( data.profile.name )

append stylesheets
  +css( 'about/faculty-detail' )

append header
  +banner( i18n[ LANG.id ].title )
  +breadcrumb( [
    { text: i18n[ LANG.id ].breadcrumb.home, url: '' },
    { text: i18n[ LANG.id ].breadcrumb.about, url: 'about' },
    { text: i18n[ LANG.id ].breadcrumb.faculty, url: 'about/faculty' },
    { text: data.profile.name },
  ] )
append content
  include /components/common/topic.pug
  include /components/common/image.pug

  section.headline
    header.headline__name= data.profile.name
    aside.headline__titles.titles
      each titleObj in data.title
        span.titles__title= titleObj.title
  section.data.profile
    aside.data.profile__departments.departments
      each department in data.department
        span.departments__department= department
    aside.data.profile__offices.offices
      address.offices__address= `${ i18n[ LANG.id ].office }： ${ data.profile.officeAddress }`
      - const officePhone = `${ i18n[ LANG.id ].tel }: ${ data.profile.officeTel.split(',').join( ` ${ i18n[ LANG.id ].ext } ` ) }`
      a.offices__phone( href = `tel:${ data.profile.officeTel }` )= officePhone
    a.data.profile__email( href = `mailto:${ data.profile.email }` )= `Email： ${ data.profile.email }`
    aside.data.profile__labs.labs
      if data.profile.lab
        a.labs__lab( href = data.profile.labWeb )= `${ i18n[ LANG.id ].lab }: ${ data.profile.labName }`
        address.labs__address= `${ i18n[ LANG.id ].address }: ${ data.profile.labAddress }`
        - const labTel = `${ i18n[ LANG.id ].tel }: ${ data.profile.labTel.split(',').join( ` ${ i18n[ LANG.id ].ext } ` ) }`
        a.labs__tel( href = `tel:${ data.profile.labTel }` )= labTel
    if data.profile.personalWeb
      a.data.profile__website( href = data.profile.personalWeb )= `個人網頁： ${ data.profile.personalWeb }`
  section.education
    h2.education__title= i18n[ LANG.id ].education
    each education in data.education
      ul.education__list.list
        li.list__from= education.from
        li.list__period= '-'
        li.list__to= education.to
        li.list__nation= education.nation
        li.list__school= education.school
        li.list__major= education.major
        li.list__degree= education.degree
  section.experience
    h2.experience__title= i18n[ LANG.id ].experience
    each experience in data.experience
      ul.experience__list.list
        li.list__from= experience.from
        li.list__period= '-'
        li.list__to= experience.to
        if(experience.organization)
          li.list__organization= experience.organization
        if(experience.department)
          li.list__department= experience.department
        if(experience.title)
          li.list__title= experience.title
  section.award
    h2.award__title= i18n[ LANG.id ].award
    - data.award.sort( ( awardA, awardB ) => awardA.receivedYear - awardB.receivedYear )
    ul.award__list
      each awardObj in data.award
        li.eachList
          h2.award__name= `${awardObj.award} , ${awardObj.receivedYear}${awardObj.receivedMonth?awardObj.receivedMonth:''}${awardObj.receivedDay?awardObj.receivedDay:''}`
  section.publication
    h2.publication__title= i18n[ LANG.id ].publication
    h3.publication__paper Papers
    each publicationObj in data.publication
      ul.publication__paperList.paperList
        li.paperList__data= publicationObj.author
        li.paperList__data= publicationObj.title
        li.paperList__data= publicationObj.category
        li.paperList__data= publicationObj.international
        li.paperList__data= publicationObj.issueYear
        li.paperList__data= publicationObj.refereed
  if data.patent.length !== 0
    section.patent
      h2.patent__title= i18n[ LANG.id ].patent.title
      table.patent__table.table
        thead.table__head.head
          tr.head__row.row
            th.row__element= i18n[ LANG.id ].patent.type
            th.row__element= i18n[ LANG.id ].patent.name
            th.row__element= i18n[ LANG.id ].patent.nation
            th.row__element= i18n[ LANG.id ].patent.owner
            th.row__element= i18n[ LANG.id ].patent.inventor
            th.row__element= i18n[ LANG.id ].patent.number
            th.row__element= i18n[ LANG.id ].patent.date
        tbody.table__body.body
          each patentObj in data.patent
            tr.body__row.row
              td.row__element= patentObj.type
              td.row__element= patentObj.patent
              td.row__element= patentObj.nation
              td.row__element= patentObj.patentOwner
              td.row__element= patentObj.inventor
              td.row__element= patentObj.certificationNumber
              td.row__element= `${ patentObj.issueDate ? patentObj.issueDate : '' } ~ ${ patentObj.expireDate ? patentObj.expireDate : '' }`
  if data.technologyTransfer.length !== 0
    section.transfer
      h2.transfer__title= i18n[ LANG.id ].technologyTransfer.title
      table.transfer__table.table
        thead.table__head.head
          tr.head__row.row
            td.row__element= i18n[ LANG.id ].technologyTransfer.index
            td.row__element= i18n[ LANG.id ].technologyTransfer.technologyName
            td.row__element= i18n[ LANG.id ].technologyTransfer.authorizingParty
            td.row__element= i18n[ LANG.id ].technologyTransfer.authorizedParty
            td.row__element= i18n[ LANG.id ].technologyTransfer.period
        tbody.table__body.body
          each technologyTransferObj, index in data.technologyTransfer
            tr.body__row.row
              td.row__element= index+1
              td.row__element= technologyTransferObj.technology
              td.row__element= technologyTransferObj.authorizingParty
              td.row__element= technologyTransferObj.authorizedParty
              td.row__element= `${ technologyTransferObj.from ? technologyTransferObj.from : '' } ~ ${ technologyTransferObj.to ? technologyTransferObj.to : '' }`
  section.project
    if data.project.length !== 0
      h2.project__title= i18n[ LANG.id ].project.name
      h2.project__category= i18n[ LANG.id ].project.general
      table.project__table.table
        thead.table__head.head
          tr.head__row.row
            th.row__element= i18n[ LANG.id ].project.name
            th.row__element= i18n[ LANG.id ].project.period
            th.row__element= i18n[ LANG.id ].project.support
        tbody.table__body.body
          each projectObj in data.project
            if(projectObj.category==i18n[ LANG.id ].project.general)
              tr.body__row.row
                td.row__element= projectObj.name
                td.row__element= `${ projectObj.from ? projectObj.from : '' } ~ ${ projectObj.to ? projectObj.to : '' }`
                td.row__element= projectObj.support
      h2.project__category= i18n[ LANG.id ].project.national
      table.project__table.table
        thead.table__head.head
          tr.head__row.row
            th.row__name= i18n[ LANG.id ].project.name
            th.row__period= i18n[ LANG.id ].project.period
            th.row__support= i18n[ LANG.id ].project.support
        tbody.table__body.body
          each projectObj in data.project
            if(projectObj.category==i18n[ LANG.id ].project.national)
              tr.body__row.row
                td.row__name= projectObj.name
                td.row__period= `${ projectObj.from ? projectObj.from : '' } ~ ${ projectObj.to ? projectObj.to : '' }`
                td.row__support= projectObj.support
  section.conference
    h2.conference.title Conference
    each conferenceObj in data.conference
      ul.conference__list.list
        li.list__data__year= conferenceObj.hostYear
        li.list__data= conferenceObj.conference
        li.list__data= conferenceObj.title
  img.photo( src = `http://www.csie.ncku.edu.tw/ncku_csie/images/teacher/teacher${ data.profile.profileId }.jpg`, alt = 'Image Title' )

append footer

append scripts
  +js( 'about/faculty-detail' )
