extends /layouts/base.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'title': 'Home',
        'topic': 'Latest News',
        'admission': 'Admissions',
        'more':  'more...',
        'news':  'Hot News',
        'highSchool': 'For High School Students',
        'imi': 'IMI',
        'imis': 'IMIS',
        'msic': 'MSIC',
        'ai': 'AI',
        'ai-ismp' : 'In-Service Master Program of AI',
        'ai-program': 'AI',
        'student': 'Student Association'

      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'title': '首頁',
        'topic': '最新消息',
        'admission': '招生訊息',
        'news': '焦點新聞',
        'more':  '更多資訊...',
        'highSchool': '高中生專區',
        'imi': '醫學資訊研究所',
        'imis1': '製造資訊與',
        'imis2': '系統研究所',
        'msic1': '多媒體系統',
        'msic2': '與',
        'msic3': '智慧型運算工程',
        'msic4': '博士學位學程',
        'ai1': '人工智慧科技',
        'ai2': '碩士學位學程',
        'ai-ismp1': '人工智慧與',
        'ai-ismp2': '資訊系統',
        'ai-ismp3': '碩士在職專班',
        'ai-program': '人工智慧學分學程',
        'student': '系學會'
      },
    } );
    const currentRoute = '';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'home/index' )

append header

append content
  include /components/common/topic.pug
  include /components/common/loading.pug
  include /components/common/no-result.pug

  section#tv.content__tv.tv
    +noResult( 'tv' )
    +loading( 'tv' )
    nav.tv__series.series

  +topic( 'content', i18n[ LANG.id ].topic )

  section#announcement.content__announcement.announcement
    +noResult( 'announcement' )
    +loading( 'announcement' )
    nav.announcement__briefings.briefings

  a.content__announcement-link( href = UTILS.url( { href : 'announcement/all' } ) )= i18n[ LANG.id ].more

  +topic( 'content_admission', i18n[ LANG.id ].admission )

  section#admission-announcement.content__admission-announcement.admission-announcement
    +noResult( 'admission-announcement' )
    +loading( 'admission-announcement' )
    nav.admission-announcement__briefings.briefings

  a.content__admission-link( href = UTILS.url( { href : 'announcement/admission' } ) )= `${ i18n[ LANG.id ].more }`

  +topic( 'content_news', i18n[ LANG.id ].news )
  section#news.content__news.news
    +noResult( 'news' )
    +loading( 'news' )
    nav.news__frame.frame
      article.frame__briefings.briefings
    section.news__pages.pages
      button#control--forword.pages__control.pages__control--forword= '<'
      button#control--backword.pages__control.pages__control--backword= '>'

  section#master.content__master.master
    span.master__high-school.high-school
      figure.high-school__banner
      h1.high-school__text.text
        a.text__link( href = UTILS.url( { href : 'student/high-school' } ) )= i18n[ LANG.id ].highSchool
    span.master__student.student
      figure.student__banner
      h1.student__text.text
        a.text__link( href = 'https://www.facebook.com/nckucsie.academy/', target = 'blank' )= i18n[ LANG.id ].student
    span.master__imi.imi
      figure.imi__banner
      h1.imi__text.text
        a.text__link( href = 'http://www.imi.ncku.edu.tw/', target = 'blank' )= i18n[ LANG.id ].imi
    span.master__imis.imis
      figure.imis__banner
      a.imis__text.text( href = 'http://www.imis.ncku.edu.tw/', target = 'blank' )
        p.text__link= i18n[ LANG.id ].imis1
        p.text__link= i18n[ LANG.id ].imis2
    span.master__msic.msic
      figure.msic__banner
      a.msic__text.text( href = 'http://www.csie.ncku.edu.tw/msic/msic.php', target = 'blank' )
        p.text__link= i18n[ LANG.id ].msic1
        p.text__link= i18n[ LANG.id ].msic2
        p.text__link= i18n[ LANG.id ].msic3
        p.text__link= i18n[ LANG.id ].msic4
    span.master__ai.ai
      figure.ai__banner
      a.ai__text.text( href = 'http://aim.ncku.edu.tw/', target = '_blank' )
        p.text__link= i18n[ LANG.id ].ai1
        p.text__link= i18n[ LANG.id ].ai2
    span.master__ai-ismp.ai-ismp
      figure.ai-ismp__banner
      a.ai-ismp__text.text( href = 'http://aigp.ncku.edu.tw/index.php', target = '_blank' )
        p.text__link= i18n[ LANG.id ]['ai-ismp1']
        p.text__link= i18n[ LANG.id ]['ai-ismp2']
        p.text__link= i18n[ LANG.id ]['ai-ismp3']
    span.master__ai-program.ai-programnt
      figure.ai-program__banner
      h1.ai-program__text.text
        a.text__link( href = 'http://ai.csie.ncku.edu.tw/' target = '_blank')= i18n[ LANG.id ]['ai-program']

append footer

append scripts
  +js( 'home/index' )
