extends /layouts/base.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'title': 'Home',
        'topic': 'Latest News',
        'admission': 'Admissions',
        'more':  'more...',
        'news':  'Hot News',
        'highSchool': 'For High School Students',
        'imi': 'IMI',
        'imis': 'IMIS',
        'msic': 'MSIC',
        'ai': 'AI',
        'ai-ismp' : 'In-Service Master Program of AI',
        'student': 'The Student Association'

      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'title': '首頁',
        'topic': '最新消息',
        'admission': '招生訊息',
        'news': '焦點新聞',
        'more':  '更多資訊...',
        'highSchool': '高中生專區',
        'imi': '醫學資訊研究所',
        'imis': '製造資訊與系統所',
        'msic': '多媒體學程',
        'ai': '人工智慧科技碩士學位學程',
        'ai-ismp': '人工智慧與資訊系統碩士在職專班',
        'student': '系學會',
      },
    } );
    const currentRoute = '';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'home/index' )

append header

append content
  include /components/common/topic.pug
  include /components/common/loading.pug
  include /components/common/no-result.pug

  section#tv.content__tv.tv
    +noResult( 'tv' )
    +loading( 'tv' )
    nav.tv__series.series

  +topic( 'content', i18n[ LANG.id ].topic )

  section#announcement.content__announcement.announcement
    +noResult( 'announcement' )
    +loading( 'announcement' )
    nav.announcement__briefings.briefings

  a.content__announcement-link( href = UTILS.url( { href : 'announcement/all' } ) )= i18n[ LANG.id ].more

  +topic( 'content_admission', i18n[ LANG.id ].admission )

  section#admission-announcement.content__admission-announcement.admission-announcement
    +noResult( 'admission-announcement' )
    +loading( 'admission-announcement' )
    nav.admission-announcement__briefings.briefings

  a.content__admission-link( href = UTILS.url( { href : 'announcement/admission' } ) )= `${ i18n[ LANG.id ].more }`

  +topic( 'content_news', i18n[ LANG.id ].news )
  section#news.content__news.news
    +noResult( 'news' )
    +loading( 'news' )
    nav.news__frame.frame
      article.frame__briefings.briefings
    section.news__pages.pages
      button#control--forword.pages__control.pages__control--forword= '<'
      button#control--backword.pages__control.pages__control--backword= '>'

  section#high-school.content__high-school.high-school
    figure.high-school__banner
    h1.high-school__text.text
      a.text__link( href = UTILS.url( { href : 'student/high-school' } ) )= i18n[ LANG.id ].highSchool

  section#master.content__master.master
    span.master__imi.imi
      figure.imi__banner
      h1.imi__text.text
        a.text__link( href = 'http://www.imi.ncku.edu.tw/', target = 'blank' )= i18n[ LANG.id ].imi
    span.master__imis.imis
      figure.imis__banner
      h1.imis__text.text
        a.text__link( href = 'http://www.imis.ncku.edu.tw/', target = 'blank' )= i18n[ LANG.id ].imis
    span.master__msic.msic
      figure.msic__banner
      h1.msic__text.text
        a.text__link( href = 'http://www.csie.ncku.edu.tw/msic/msic.php', target = 'blank' )= i18n[ LANG.id ].msic
    span.master__ai.ai
      figure.ai__banner
      h1.ai__text.text
        a.text__link( href = 'http://aim.ncku.edu.tw/', target = 'blank' )= i18n[ LANG.id ].ai
    span.master__ai-ismp.ai-ismp
      figure.ai-ismp__banner
      h1.ai-ismp__text.text
        a.text__link( href = 'http://aigp.ncku.edu.tw/index.php', target = 'blank' )= i18n[ LANG.id ]['ai-ismp']
    span.master__student.student
      figure.student__banner
      h1.student__text.text
        a.text__link( href = 'https://www.facebook.com/nckucsie.academy', target = 'blank' )= i18n[ LANG.id ].student

append footer

append scripts
  +js( 'home/index' )
