extends /layouts/base.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'title': 'Home',
        'topic': 'Latest News',
        'recruit': 'Recruit Students',
        'more':  'more...',
        'news':  'Hot News',
        'highSchool': 'For High School Students',
        'imi': '',
        'imis': '',
        'msic': '',
        'ai': '',
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'title': '首頁',
        'topic': '最新消息',
        'recruit': '招生訊息',
        'news': '焦點新聞',
        'more':  '更多資訊...',
        'highSchool': '高中生專區',
        'imi': '醫資所',
        'imis': '製造所',
        'msic': '多媒體學程',
        'ai': '人工智慧學程',
      },
    } );
    const currentRoute = '';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'home/index' )

append header

append content
  include /components/common/topic.pug
  include /components/common/loading.pug
  include /components/common/no-result.pug

  section#tv.content__tv.tv
    +noResult( 'tv' )
    +loading( 'tv' )
    nav.tv__series.series

  +topic( 'content', i18n[ LANG.id ].topic )

  section#announcement.content__announcement.announcement
    +noResult( 'announcement' )
    +loading( 'announcement' )
    nav.announcement__briefings.briefings

  a.content__announcement-link( href = UTILS.url( { href : 'announcement/all' } ) )= i18n[ LANG.id ].more

  +topic( 'content_recruit', i18n[ LANG.id ].recruit )

  section#recruit-announcement.content__recruit-announcement.recruit-announcement
    +noResult( 'recruit-announcement' )
    +loading( 'recruit-announcement' )
    nav.recruit-announcement__briefings.briefings

  a.content__recriut-link( href = UTILS.url( { href : 'announcement/all' } ) )= `${ i18n[ LANG.id ].more }`

  +topic( 'content_news', i18n[ LANG.id ].news )
  section#news.content__news.news
    +noResult( 'news' )
    +loading( 'news' )
    nav.news__briefings.briefings
    section.news__pages.pages
      button#control--forword.pages__control.pages__control--forword= '<'
      button#control--backword.pages__control.pages__control--backword= '>'

  section#high-school.content__high-school.high-school
    figure.high-school__banner
    h1.high-school__text.text
      a.text__link( href = UTILS.url( { href : 'student/high-school' } ) )= i18n[ LANG.id ].highSchool

  section#master.content__master.master
    span.master__imi.imi
      figure.imi__banner
      h1.imi__text.text
        a.text__link( href = 'http://www.imi.ncku.edu.tw/', target = 'blank' )= i18n[ LANG.id ].imi
    span.master__imis.imis
      figure.imis__banner
      h1.imis__text.text
        a.text__link( href = 'http://www.imis.ncku.edu.tw/', target = 'blank' )= i18n[ LANG.id ].imis
    span.master__msic.msic
      figure.msic__banner
      h1.msic__text.text
        a.text__link( href = 'http://www.csie.ncku.edu.tw/msic/msic.php', target = 'blank' )= i18n[ LANG.id ].msic
    span.master__ai.ai
      figure.ai__banner
      h1.ai__text.text
        a.text__link( href = 'http://aim.ncku.edu.tw/', target = 'blank' )= i18n[ LANG.id ].ai

append footer

append scripts
  +js( 'home/index' )
