mixin announce( title, time, excerpt, articleUrl, imageUrl, ...tags )
  article
    h1= title
    time= time
    p= excerpt
    button
      a(href=articleUrl) see more
    img(src=imageUrl)
    aside
      each tag in tags
        button
          a= tag
