//- Sort faculty based on their showing order.
- data.sort( ( facultyA, facultyB ) => facultyA.order - facultyB.order )
each profile in data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        more: 'Read more',
        officeTel: typeof profile.officeTel !== 'undefined' ? profile.officeTel.split(',').join( ' ext. ' ) : '',
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        more: '更多資訊',
        officeTel: typeof profile.officeTel !== 'undefined' ? profile.officeTel.split(',').join( ' 分機 ' ) : '',
      },
    } );

  //- Faculty's department id and research-group id.
  section.cards__card.card(
    data-department-ids = `${ profile.department.join() }`,
    data-research-group-ids = `${ profile.researchGroup.join() }`
  )
    //- Faculty's photo.
    if typeof profile.profileId !== 'undefined' && typeof profile.name !== 'undefined'
      img.card__photo(
        src = `http://www.csie.ncku.edu.tw/ncku_csie/images/teacher/teacher${ profile.profileId }.jpg`,
        alt = profile.name
      )

    //- Faculty's intro.
    article.card__intro.intro

      //- Faculty belongs to some departments.
      if typeof profile.department !== 'undefined'
        aside.intro__departments.departments
          each departmentId in profile.department
            span.departments__department(
              data = `${ departmentId }`
            )= UTILS.DepartmentUtils.getDepartmentById( { departmentId, languageId: LANG.id } )

      //- Faculty's name.
      if typeof profile.name !== 'undefined'
        header.intro__name= profile.name

      //- Faculty has some titles.
      if typeof profile.title !== 'undefined'
        aside.intro__titles.titles
          each title in profile.title
            span.titles__title= title

      //- Faculty's email.
      if typeof profile.email !== 'undefined'
        a.intro__email( href = `mailto:${ profile.email }` )= profile.email

      //- Faculty owns some offices, including address and phone.
      if typeof profile.officeAddress !== 'undefined'
        address.intro__office-address= profile.officeAddress
      if typeof profile.officeTel !== 'undefined'
        a.intro__office-tel( href = `tel:${ profile.officeTel }` )= i18n[ LANG.id ].officeTel

      //- Faculty run some labs, including name, web and address.
      if typeof profile.labName !== 'undefined' && typeof profile.labWeb !== 'undefined'
        a.intro__lab-name.lab-name( href = profile.labWeb )= profile.labName
      if typeof profile.labAddress !== 'undefined'
        address.intro__lab-address= profile.labAddress

    //- Faculty's detail information link.
    if typeof profile.profileId !== 'undefined'
      a.card__more( href = UTILS.url( {
        href: `about/faculty/${ profile.profileId }`,
        query: {
          languageId: LANG.id
        },
      } ) )= i18n[ LANG.id ].more
