mixin cards__card( profile = {} )
  -
    const i18n = Object.freeze( {
      'en-US': {
        'more':   'Read more',
        'email':  'Email',
        'office': 'Office',
        'tel':    'Tel',
        'lab':    'Lab',
      },
      'zh-TW': {
        'more':   '更多資訊',
        'email':  '信箱',
        'office': '辦公室',
        'tel':    '電話',
        'lab':    '實驗室',
      },
    } );
    const filter = Object.freeze( {
      '資訊系': '0',
      'dept. CSIE': '0',
      '資訊所': '1',
      'inst. CSIE': '1',
      '醫資所': '2',
      'IMI': '2',
      '製造所': '3',
      'IMIS': '3',
    } );
  section.cards__card.card
    //- photo
    img.card__photo(
      src = `http://www.csie.ncku.edu.tw/ncku_csie/images/teacher/teacher${ profile.profileId }.jpg`,
      alt = profile.name
    )
    article.card__intro.intro

      //- departments
      if profile.departments
        aside.intro__departments.departments
          each department in profile.departments
            span( class = 'departments__department', data = filter[department.department])= department.department

      //- name
      if profile.name
        h1.intro__name= profile.name

      //- titles
      if profile.titles
        aside.intro__titles.titles
          each title in profile.titles
            span( class = 'titles__title' )= title.title

      //- email
      if profile.email
        aside.intro__email.email
          span.email__text.text= `${ i18n[ language ].email }: `
            a.text__link( href = `mailto:${ profile.email }` )= profile.email

      //- offices, including address and phone
      if profile.offices
        each office in profile.offices
          if office.address
            address.intro__address= `${ i18n[ language ].office }: ${ office.address }`
          if office.tel
            a.intro__phone( href = `tel:${ office.tel }` )= `${ i18n[ language ].tel }: ${ office.tel }`

      //- labs
      if profile.labs
        each lab in profile.labs
          aside.intro__lab.lab
            span.lab__text.text= `${ i18n[ language ].lab }: `
              a.text__link( href = lab.labWeb )= `${ lab.name }`

      //- link to profile detail
      p.intro__more
        a( href = `/about/faculty/${ profile.profileId }?language=${ language }` )= i18n[ language ].more

//- main
- faculty.sort( ( facultyA, facultyB ) => facultyA.position - facultyB.position )
each profile in faculty
  +cards__card( profile )
