//- Each `cards__card` contains one faculty
mixin cards__card( profile = {} )
  -
    const i18n = Object.freeze( {
      'en-US': {
        'more':   'Read more',
        'email':  'Email',
        'office': 'Office',
        'tel':    'Tel',
        'ext':    'ext.',
        'lab':      'Lab',
        'department': {
          '0': 'dept. CSIE',
          '1': 'inst. CSIE',
          '3': 'IMI',
          '4': 'IMIS',
        }
      },
      'zh-TW': {
        'more':   '更多資訊',
        'email':  '信箱',
        'office': '辦公室',
        'ext':    '分機',
        'tel':    '電話',
        'lab':    '實驗室',
        'department': {
          '0': '資訊系',
          '1': '資訊所',
          '2': '合聘師資',
          '3': '兼任師資',
        }
      },
    } );

    /*
    const filter = Object.freeze( {
      '資訊系':      '0',
      'dept. CSIE': '0',
      '資訊所':      '1',
      'inst. CSIE': '1',
      '醫資所':      '2',
      'IMI':        '2',
      '製造所':      '3',
      'IMIS':       '3',
    } );
    */

  section.cards__card.card( research-group = `${ profile.researchGruops }` )
    //- Faculty's photo.
    img.card__photo(
      src = `http://www.csie.ncku.edu.tw/ncku_csie/images/teacher/teacher${ profile.profileId }.jpg`,
      alt = profile.name
    )

    //- Faculty's intro.
    article.card__intro.intro

      //- Faculty belongs to some departments.
      if profile.departments
        aside.intro__departments.departments
          each department in profile.departments
            span.departments__department( data = `${ department.type }` )= i18n[ language ].department[ department.type ]

      //- Faculty's name.
      if profile.name
        h1.intro__name= profile.name

      //- Faculty has some titles.
      if profile.titles
        aside.intro__titles.titles
          each title in profile.titles
            span( class = 'titles__title' )= title.title

      //- Faculty's email.
      if profile.email
        aside.intro__email.email
          span.email__text.text= `${ i18n[ language ].email }: `
            a.text__link( href = `mailto:${ profile.email }` )= profile.email

      //- Faculty owns some offices, including address and phone.

      if profile.officeAddress
        address.intro__address= `${ i18n[ language ].office }: ${ profile.officeAddress }`
      if profile.officeTel
        a.intro__phone( href = `tel:${ profile.officeTel }` )= `${ i18n[ language ].tel }: ${ profile.officeTel.split(',').join( ` ${ i18n[ language ].ext } ` ) }`

      //- Faculty run some labs.
      if profile.labName
        aside.intro__lab.lab
          span.lab__text.text= `${ i18n[ language ].lab }: `
            a.text__link( href = profile.labWeb )= `${ profile.labName }`

      //- Faculty's detail information link.
      p.intro__more
        a( href = `/about/faculty/${ profile.profileId }?language=${language}` )= i18n[ language ].more

//- main
    Construct all faculty information with `cards__card`.
//- Sort faculty based on their showing order.
- faculty.sort( ( facultyA, facultyB ) => facultyA.profile_id - facultyB.profile_id )
each profile in faculty
  +cards__card( profile )
