-
  const i18n = Object.freeze( {
    'en-US': {
      'more': 'Read more',
      'email': 'Email',
      'office': 'office',
      'tel': 'Tel',
      'lab': 'Lab',
    },
    'zh-TW': {
      'more': '更多資訊',
      'email': '信箱',
      'office': '辦公室',
      'tel': '電話',
      'lab': '實驗室',
    },
  } );
mixin cards__card( faculty = {} )
  a.cards__card.card( href=`/about/faculty/${ faculty.profileId }?language=${ language }` )
    //- figure.cards__card.card
    //- photo of faculty
    img.card__photo( src=`http://www.csie.ncku.edu.tw/ncku_csie/images/teacher/teacher${ faculty.profileId }.jpg`, alt=faculty.name )
    article.card__intro.intro

      //- departments belong to faculty
      if faculty.departments
        +intro__list( 'department', faculty.departments )
        //- aside.intro__departments
          each element in faculty.departments
            p( class='departments__department' )= element.department

      //- name of faculty
      h1.intro__name= faculty.name

      //- titles belong to faculty
      if faculty.titles !== null
        +intro__list( 'title', faculty.titles )
        //- aside.intro__titles
          //- +titles__title(faculty.titles)
          each element in faculty.titles
            p( class='titles__title' )= element.title

      //- email of faculty
      //- a.intro__email( href = `mailto:${ faculty.email }` )= `${ i18n[ language ].email } : ${ faculty.email }`
      p.intro__email= `${ i18n[ language ].email } : ${ faculty.email }`

      //- offices belong to faculty
      if faculty.offices
        each office in faculty.offices
          address.intro__address= `${ i18n[ language ].office } : ${ office.address }`
          //- a.intro__phone( href = `tel:${ faculty.email }` )= `${ i18n[ language ].tel } : ${ office.tel }`
          p.intro__phone= `${ i18n[ language ].tel } : ${ office.tel }`
      address.intro__lab= `${ i18n[ language ].lab } : 地址`
      p.intro__more= i18n[ language ].more

mixin intro__list( attribute, array )
  aside( class=`intro__${ attribute }s ${ attribute }s` )
    each element in array
      span( class=`${ attribute }s__${ attribute }` )= element[ attribute ]
//- mixin titles__title( array )
  each element in array
    span( class='titles__title' )= element.title
//- mixin departments__department( array )
  each element in array
    p( class='departments__department' )= element.department

//- main
- faculty.sort( ( facultyA, facultyB ) => facultyA.position - facultyB.position )
each profile in faculty
  +cards__card( profile )
