include /components/common/topic.pug
-
  const i18n = Object.freeze( {
    'en-US': {
      'education':          'Education',
      'experience':         'Experience',
      'award':              'Award',
      'publication':        'Publication',
      'patent':             'Patent',
      'research':           'Research',
      'student':            'Student',
      'student__doctoral':  '博士生',
      'student__master':    '碩士生',
      'student__award':     '指導學生之特殊榮譽',
      'student__meeting':   '主辦及參與國際會議',
      'publication__accepted':        'Accepted Papers to be Published',
      'publication__refereed':        'Refereed Papers',
      'publication__international':   'Conference Papers - 國際會議',
      'publication__domestic':         'Conference Papers - 國內會議',
    },
    'zh-TW': {
      'education':   '學歷',
      'experience':  '經歷',
      'award':       '榮譽及獲獎',
      'publication': '著作',
      'patent':      '專利',
      'research':    '研究計劃',
      'student':     '指導學生',
      'student__doctoral':  '博士生',
      'student__master':    '碩士生',
      'student__award':     '指導學生之特殊榮譽',
      'student__meeting':   '主辦及參與國際會議',
      'publication__accepted':        'Accepted Papers to be Published',
      'publication__refereed':        'Refereed Papers',
      'publication__international':   'Conference Papers - 國際會議',
      'publication__domestic':         'Conference Papers - 國內會議',
    },
  } );

mixin student__list--memberdoc( array )
  each element in array
    p( class=`student__member--doctoral` )= '博士生'
mixin student__list--membermas( array )
  each element in array
    p( class=`student__member--master` )= '碩士生'
mixin student__list--honor( array )
  each element in array
    p( class=`student__award` )= '國立成功大學電資學院輔導優良導師, 2014'
mixin student__list--meeting( array )
  each element in array
    p( class=`student__meeting` )= 'Award Chair of 2017 IEEE Conference on Robotics and Automation (ICRA 2017)'
mixin award__list( array )
  each element in array
    p( class=`award__content` )= '國立成功大學電資學院'
mixin publication__list( array )
  each element in array
    p( class=`publication__content` )= 'PubTator: a Web-based text mining tool for assisting Biocuration'
mixin titles__title( array )
  each element in array
    span( class=`titles__title` )= element
mixin departments__department( array )
  each element in array
    span( class=`departments__department` )= element
mixin domains__domain( array )
  each element in array
    span( class=`domains__domain` )= element
mixin education__detail( array )
  each element in array
    section.education__detail.detail
      time.detail__begin= element.timeBegin
      | -
      time.detail__end= element.timeEnd
      p.detail__country
      p.detail__school= element.school
      p.detail__department= element.department
      p.detail__degree= element.degree
mixin experience__detail( array )
  each element in array
    section.experience__detail.detail
      time.detail__begin= element.timeBegin
      | -
      time.detail__end= element.timeEnd
      p.detail__school= element.school
      p.detail__department= element.department
      p.detail__degree= element.degree

if profile !== undefined
  section.profile
    section.profile__headline.headline
      header.headline__name= profile.name
      aside.headline__titles.titles
        +titles__title(profile.title)
    aside.profile__departments.departments
      +departments__department(profile.department)
    address.profile__office 辦公室
    a.profile__email( href = "mailto:123" ) email
    a.profile__phone( href = "tel:456" ) 聯絡電話
    address.profile__lab 實驗室
    a.profile__website( href = "https://www.google.com.tw/" ) 個人網頁
    aside.profile__domains.domains 專長領域：
      +domains__domain(profile.domain)
    img.photo( src = "https://via.placeholder.com/150x150" alt = "Image Title" )
if education
  section.education
    +topic( i18n[ language ].education )
    +education__detail(education.detail)
if experience
  section.experience
    +topic( i18n[ language ].experience )
    +experience__detail(experience.detail)
    //- section.experience__detail.detail
      time.detail__begin 2016.09.11
      | -
      time.detail__end 2016.09.12
      p.detail__school 成功大學
      p.detail__department 電機
      p.detail__degree 博士
//- if award !== null
  section.award
    +topic( i18n[ language ].award )
    section.subtitle 2014
    +award__list( [ '1','2','3' ] )
    section.subtitle 2018
    +award__list( [ '1','2','3' ] )
//- if publication !== null
  section.publication
    +topic( i18n[ language ].publication )
    +subtitle( i18n[ language ].publication__accepted )
    +publication__list( [ '1','2','3' ] )
    +subtitle( i18n[ language ].publication__refereed )
    +publication__list( [ '1','2','3' ] )
    +subtitle( i18n[ language ].publication__international )
    +publication__list( [ '1','2','3' ] )
    +subtitle( i18n[ language ].publication__domestic )
    +publication__list( [ '1','2','3' ] )
//- if patent !== null
  section.patent
    +topic( i18n[ language ].patent )
    table.patent__table.table
      tbody.table__body.body
        tr.body__titles.titles
          th.titles__title 類別
          th.titles__title 專利名稱
          th.titles__title 專利權人
          th.titles__title 國別
          th.titles__title 發明人
          th.titles__title 專利號碼
          th.titles__title 專利期間
        tr.body__details.details
          td.details__detail A
          td.details__detail  機台維修系統與方法
          td.details__detail  國立成功大學
          td.details__detail
            p.detail__country
          td.details__detail  鄭方田
          td.details__detail  審查中
          td.details__detail
            time.detail__date 2016.09.11
//- if research !== null
  section.research
    +topic( i18n[ language ].research )
    table.research__table.table
      caption.headline__small 科技部研究計畫
      tbody.table__body.body
        tr.body__titles.titles
          th.titles__title 企劃名稱
          th.titles__title 起迄日期
          th.titles__title 輔助單位
        tr.body__details.details
          td.details__detail 子計畫
          td.details__detail.detail
            section.detail__date.date
              time.date__begin 2016.09.11
              | -
              time.date__end 2016.09.12
          td.details__detail 科技部
    table.research__table.table
      caption.headline__small 一般建教案
      tbody.table__body.body
        tr.body__titles.titles
          th.titles__title 企劃名稱
          th.titles__title 起迄日期
          th.titles__title 輔助單位
        tr.body__details.details
          td.details__detail 子計畫
          td.details__detail.detail
            section.detail__date.date
              time.date__begin 2016.09.11
              | -
              time.date__end 2016.09.12
          td.details__detail 科技部
//- if student !== null
  section.student
    +topic( i18n[ language ].student )
    +subtitle( i18n[ language ].student__doctoral )
    section.student__members
      +student__list--memberdoc( [ '1','2','3','4' ] )
    +subtitle( i18n[ language ].student__master )
    section.student__members
      +student__list--membermas( [ '1','2','3','4' ] )
    +subtitle( i18n[ language ].student__award )
    +student__list--honor( [ '1','2','3' ] )
    +subtitle( i18n[ language ].student__meeting )
    +student__list--meeting( [ '1','2','3' ] )
