include /components/common/topic.pug
include /components/common/image.pug
include /components/about/faculty/subtitle.pug
-
  const i18n = Object.freeze( {
    'en-US': {
      'education':          'Education',
      'experience':         'Experience',
      'award':              'Award',
      'publication':        'Publication',
      'patent':             'Patent',
      'technology__transfer':      'Technology Transfer',
      'research':           'Research',
      'student':            'Student',
      'student__doctoral':  '博士生',
      'student__master':    '碩士生',
      'student__award':     '指導學生之特殊榮譽',
      'student__meeting':   '主辦及參與國際會議',
      'publication__accepted':        'Accepted Papers to be Published',
      'publication__refereed':        'Refereed Papers',
      'publication__international':   'Conference Papers - 國際會議',
      'publication__domestic':        'Conference Papers - 國內會議',
      'research__tech':               'Tech-Research',
      'research__normal':          'Normal-Research',
    },
    'zh-TW': {
      'education':   '學歷',
      'experience':  '經歷',
      'award':       '榮譽及獲獎',
      'publication': '著作',
      'patent':      '專利',
      'technology__transfer':      '研究轉移',
      'research':    '研究計劃',
      'student':     '指導學生',
      'student__doctoral':  '博士生',
      'student__master':    '碩士生',
      'student__award':     '指導學生之特殊榮譽',
      'student__meeting':   '主辦及參與國際會議',
      'publication__accepted':        'Accepted Papers to be Published',
      'publication__refereed':        'Refereed Papers',
      'publication__international':   'Conference Papers - 國際會議',
      'publication__domestic':         'Conference Papers - 國內會議',
      'research__tech':         '科技部研究計畫',
      'research__normal':         '一般建教案',
    },
  } );

mixin titles__title( array )
  each element in array
    span( class=`titles__title` )= element
mixin departments__department( array )
  each element in array
    span( class=`departments__department` )= element
mixin domains__domain( array )
  each element in array
    span( class=`domains__domain` )= element
mixin education__detail( array )
  each element in array
    section.education__detail.detail
      time.detail__begin= element.timeBegin
      | -
      time.detail__end= element.timeEnd
      p.detail__country
      p.detail__school= element.school
      p.detail__department= element.department
      p.detail__degree= element.degree
mixin experience__detail( array )
  each element in array
    section.experience__detail.detail
      time.detail__begin= element.timeBegin
      | -
      time.detail__end= element.timeEnd
      p.detail__school= element.school
      p.detail__department= element.department
      p.detail__degree= element.degree
mixin patent__table( array )
  table.patent__table.table
    tbody.table__body.body
      tr.body__titles.titles
        th.titles__title 類別
        th.titles__title 專利名稱
        th.titles__title 專利權人
        th.titles__title 國別
        th.titles__title 發明人
        th.titles__title 專利號碼
        th.titles__title 專利期間
      each element in array
        tr.body__details.details
          td.details__detail= element.type
          td.details__detail= element.name
          td.details__detail= element.belong
          td.details__detail
            p.detail__country
          td.details__detail= element.inventor
          td.details__detail= element.id
          td.details__detail
            section.detail__date.date
              time.date__begin= element.timeBegin
              | |
              time.date__end= element.timeEnd
mixin transfer__table( array )
  table.transfer__table.table
    tbody.table__body.body
      tr.body__titles.titles
        th.titles__title 項次
        th.titles__title 技術名稱
        th.titles__title 專利名稱
        th.titles__title 授權單位
        th.titles__title 接受單位
        th.titles__title 合約期間
      each element in array
        tr.body__details.details
          td.details__detail= element.id
          td.details__detail= element.techName
          td.details__detail= element.patentName
          td.details__detail= element.authority
          td.details__detail= element.accept
          td.details__detail
            section.detail__date.date
              time.date__begin= element.timeBegin
              | |
              time.date__end= element.timeEnd
mixin research__tableTech( array )
  table.research__table.table
    +subtitle( i18n[ language ].research__tech )
    tbody.table__body.body
      tr.body__titles.titles
        th.titles__title 企劃名稱
        th.titles__title 起迄日期
        th.titles__title 輔助單位
      each element in array
        tr.body__details.details
          td.details__detail= element.name
          td.details__detail.detail
            section.detail__date.date
              time.date__begin= element.timeBegin
              | -
              time.date__end= element.timeEnd
          td.details__detail= element.authority
mixin research__tableNormal( array )
  table.research__table.table
    +subtitle( i18n[ language ].research__normal )
    tbody.table__body.body
      tr.body__titles.titles
        th.titles__title 企劃名稱
        th.titles__title 起迄日期
        th.titles__title 輔助單位
      each element in array
        tr.body__details.details
          td.details__detail= element.name
          td.details__detail.detail
            section.detail__date.date
              time.date__begin= element.timeBegin
              | -
              time.date__end= element.timeEnd
          td.details__detail= element.authority
mixin award__list( array )
  - array.sort( (e1, e2) => e1.time > e2.time )
  each element in array
    p( class=`award__content` )= element.award + element.time
mixin student__list--memberdoc( array )
  each element in array
    p( class=`student__member--doctoral` )= element
mixin student__list--membermas( array )
  each element in array
    p( class=`student__member--master` )= element
mixin student__list--honor( array )
  each element in array
    p( class=`student__award` )= element
mixin student__list--meeting( array )
  each element in array
    p( class=`student__meeting` )= element
mixin publication__list( array )
  each element in array
    p( class=`publication__content` )= element

if profile
  section.profile
    section.profile__headline.headline
      header.headline__name= profile.name
      aside.headline__titles.titles
        +titles__title(profile.title)
    aside.profile__departments.departments
      +departments__department(profile.department)
    address.profile__office= '辦公室：' + profile.office
    a.profile__email( href = "mailto:123" )= 'Email：' + profile.email
    a.profile__phone( href = "tel:456" )= '聯絡電話：' + profile.phone
    address.profile__lab= '實驗室 : ' + profile.lab.name
      address.profile__lab--location= profile.lab.location
    a.profile__website( href = "https://www.google.com.tw/" )= '個人網頁：' + profile.website
    aside.profile__domains.domains= '專長領域：'
      +domains__domain(profile.domain)
img.photo( src = "https://via.placeholder.com/300x300" alt = "Image Title" )

if education
  section.education
    +topic( i18n[ language ].education )
    +education__detail(education.detail)
if experience
  section.experience
    +topic( i18n[ language ].experience )
    +experience__detail(experience.detail)

if award
  section.award
    +topic( i18n[ language ].award )
    section.subtitle 2014
    +award__list( award )
    section.subtitle 2018
    +award__list( award )
if publicationAccepted || publicationRefereed || publicationInternational || publicationDomestic
  section.publication
    +topic( i18n[ language ].publication )
    if publicationAccepted
      +subtitle( i18n[ language ].publication__accepted )
      +publication__list( publicationAccepted )
    if publicationRefereed
      +subtitle( i18n[ language ].publication__refereed )
      +publication__list( publicationRefereed )
    if publicationInternational
      +subtitle( i18n[ language ].publication__international )
      +publication__list( publicationInternational )
    if publicationDomestic
      +subtitle( i18n[ language ].publication__domestic )
      +publication__list( publicationDomestic )
if patent
  section.patent
    +topic( i18n[ language ].patent )
    +patent__table(patent.tables)

    //- table.patent__table.table
      tbody.table__body.body
        tr.body__titles.titles
          th.titles__title 類別
          th.titles__title 專利名稱
          th.titles__title 專利權人
          th.titles__title 國別
          th.titles__title 發明人
          th.titles__title 專利號碼
          th.titles__title 專利期間
        tr.body__details.details
          td.details__detail A
          td.details__detail  機台維修系統與方法
          td.details__detail  國立成功大學
          td.details__detail
            p.detail__country
          td.details__detail  鄭方田
          td.details__detail  審查中
          td.details__detail
            time.detail__date 2016.09.11
if transfer
  section.transfer
    +topic( i18n[ language ].technology__transfer )
    +transfer__table(transfer.tables)
if research
  section.research
    +topic( i18n[ language ].research )
    +research__tableTech(research.tableTech)
    +research__tableNormal(research.tableNormal)
if studentdoc || studentmas || studentAward || studentMeeting
  section.student
    +topic( i18n[ language ].student )
    if studentdoc
      +subtitle( i18n[ language ].student__doctoral )
      section.student__members
        +student__list--memberdoc( studentdoc )
    if studentmas
      +subtitle( i18n[ language ].student__master )
      section.student__members
        +student__list--membermas( studentmas )
    if studentAward
      +subtitle( i18n[ language ].student__award )
      +student__list--honor( studentAward )
    if studentMeeting
      +subtitle( i18n[ language ].student__meeting )
      +student__list--meeting( studentMeeting )
