mixin header--base( belongBlock )
  include /components/common/header-i18n.pug
  include /components/common/header-router.pug
  include /components/common/image.pug
  - const i18n = headerI18n();

  section.headerSpace.headerSpace--base
  header.header.header--base( class = `${ belongBlock }__header` )
    //- Logo
    a.header__logo.logo( href = i18n[ LANG.id ].home.index.route )
      +image( {
        alt:       'csie',
        className: 'logo__image',
        src:       'logo/csie-small.png',
      } )

    //- Menu Icon
    button.header__menu

    //- Navigation Bar
    nav.header__navigation.navigation
      //- Search Column, currently not available
      //- Small screen version
      form.navigation__search.search( action = i18n[ LANG.id ].home.search.route, method = 'GET' )
        input.search__input(
          type = 'text',
          placeholder = i18n[ LANG.id ].home.search.text,
          name = 'searchText',
          value = ''
        )
        button.search__submit.submit( type = 'submit' )
          +image( {
            alt:       i18n[ LANG.id ].home.search.text,
            className: 'submit__image',
            src:       'icon/search.png',
          } )

      //- Cancel Icon
      button.navigation__cancel

      //- All routes
      +navigation__list

      //- Login,
      //- Small screen version
      a.navigation__login.login( href = i18n[ LANG.id ].components.login.route )
        +image( {
          alt:       i18n[ LANG.id ].components.login.text,
          className: 'login__image',
          src:       'icon/user.png',
        } )
        span.login__text= i18n[ LANG.id ].components.login.text

      //- Language Choice
      section.navigation__language.language
        +image( {
          alt:       i18n[ LANG.id ].language,
          className: 'language__image',
          src:       `icon/flag-${ LANG.id }.png`,
        } )
        span.language__text= i18n[ LANG.id ].language
        button.language__switch
        ul.language__dropdown.dropdown
          li.dropdown__item.item
            a.item__link.link(
              href = UTILS.url( {
                href: currentRoute,
                query: { languageId: LANG.getLanguageId( 'zh-TW' ) }
              } )
            )
              +image( {
                alt:       '臺灣',
                className: 'link__image',
                src:       `icon/flag-${ LANG.getLanguageId( 'zh-TW' ) }.png`,
              } )
              if LANG.id === LANG.getLanguageId( 'zh-TW' )
                span.link__text.link__text--active 臺灣
              else
                span.link__text 臺灣
          li.dropdown__item.item
            a.item__link.link( href = UTILS.url( { href: currentRoute, query: { languageId: LANG.getLanguageId( 'en-US' ) } } ) )
              +image( {
                alt:       'USA',
                className: 'link__image',
                src:       `icon/flag-${ LANG.getLanguageId( 'en-US' ) }.png`,
              } )
              if LANG.id === LANG.getLanguageId( 'en-US' )
                span.link__text.link__text--active USA
              else
                span.link__text USA
