include /components/common/header-i18n.pug

mixin header--small( belongBlock )
  - const i18n = headerI18n();

  header.header.header--small( class = `${ belongBlock }__header` )
    //- Logo
    a.header__logo.logo( href = i18n[ LANG.id ].home.index.route )
      +image( {
        alt:       'csie',
        className: 'logo__image',
        src:       'logo/csie.png',
      } )
    //- Caption
    section.header__caption.caption
      article.caption__title.title
        span.title__text 成功大學
        span.title__text 資訊工程學系
        span.title__text 暨
        span.title__text 研究所
      article.caption__subtitle.subtitle
        span.subtitle__text Department
        span.subtitle__text of
        span.subtitle__text Computer Science
        span.subtitle__text and
        span.subtitle__text Information Engineering

    //- Menu Icon
    button.header__menu

    //- Navigation Bar
    nav.header__navigation.navigation
      //- Search Column, currently not available
      //- Small screen version
      form.navigation__search.search( action = i18n[ LANG.id ].home.search.route, method = 'GET' )
        input.search__input(
          type = 'text',
          placeholder = i18n[ LANG.id ].home.search.text,
          name = 'searchText',
          value = ''
        )
        button.search__submit.submit( type = 'submit' )
          +image( {
            alt:       i18n[ LANG.id ].home.search.text,
            className: 'submit__image',
            src:       'icon/search.png',
          } )

      //- Cancel Icon
      button.navigation__cancel

      //- All routes
      ul.navigation__list.list
        li.list__item.item
          a.item__link.item__link--no-dropdown( href = i18n[ LANG.id ].home.index.route )= i18n[ LANG.id ].home.index.text
        li.list__item.item.list__item--about
          a.item__link( href = i18n[ LANG.id ].about.index.route )= i18n[ LANG.id ].about.index.text
          button.item__switch
          ul.item__dropdown.dropdown
            li.dropdown__item.item
              a.item__link( href = i18n[ LANG.id ].about.intro.route )= i18n[ LANG.id ].about.intro.text
            li.dropdown__item.item
              a.item__link( href = i18n[ LANG.id ].about.faculty.route )= i18n[ LANG.id ].about.faculty.text
            li.dropdown__item.item
              a.item__link( href = i18n[ LANG.id ].about.staff.route )= i18n[ LANG.id ].about.staff.text
            li.dropdown__item.item
              a.item__link( href = i18n[ LANG.id ].about.award.route )= i18n[ LANG.id ].about.award.text
            li.dropdown__item.item
              a.item__link( href = i18n[ LANG.id ].about.contact.route )= i18n[ LANG.id ].about.contact.text
        li.list__item.item.list__item--research
          a.item__link( href = i18n[ LANG.id ].research.index.route )= i18n[ LANG.id ].research.index.text
          button.item__switch
          ul.item__dropdown.dropdown
            li.dropdown__item.item
              a.item__link( href = i18n[ LANG.id ].research.lab.route )= i18n[ LANG.id ].research.lab.text
            li.dropdown__item.item
              a.item__link( href = i18n[ LANG.id ].research.publication.route )= i18n[ LANG.id ].research.publication.text
        li.list__item.item.list__item--student
          a.item__link( href = i18n[ LANG.id ].student.index.route )= i18n[ LANG.id ].student.index.text
          button.item__switch
          ul.item__dropdown.dropdown
            li.dropdown__item.item
              a.item__link( href = i18n[ LANG.id ].student.college.route )= i18n[ LANG.id ].student.college.text
            li.dropdown__item.item
              a.item__link( href = i18n[ LANG.id ].student.master.route )= i18n[ LANG.id ].student.master.text
            li.dropdown__item.item
              a.item__link( href = i18n[ LANG.id ].student.phd.route )= i18n[ LANG.id ].student.phd.text
        li.list__item.item.list__item--announcement
          a.item__link( href = i18n[ LANG.id ].announcement.index.route )= i18n[ LANG.id ].announcement.index.text
          button.item__switch
          ul.item__dropdown.dropdown
            li.dropdown__item.item
              a.item__link( href = i18n[ LANG.id ].announcement.all.route )= i18n[ LANG.id ].announcement.all.text
            li.dropdown__item.item
              a.item__link( href = i18n[ LANG.id ].announcement.activity.route )= i18n[ LANG.id ].announcement.activity.text
            li.dropdown__item.item
              a.item__link( href = i18n[ LANG.id ].announcement.recruitment.route )= i18n[ LANG.id ].announcement.recruitment.text
        li.list__item.item.list__item--resource
          a.item__link( href = i18n[ LANG.id ].resource.index.route )= i18n[ LANG.id ].resource.index.text
          button.item__switch
          ul.item__dropdown.dropdown
            li.dropdown__item.item
              a.item__link( href = i18n[ LANG.id ].resource.rule.route )= i18n[ LANG.id ].resource.rule.text
            li.dropdown__item.item
              a.item__link( href = i18n[ LANG.id ].resource.rent.route )= i18n[ LANG.id ].resource.rent.text
            li.dropdown__item.item
              a.item__link( href = i18n[ LANG.id ].resource.fix.route )= i18n[ LANG.id ].resource.fix.text
            li.dropdown__item.item
              a.item__link( href = i18n[ LANG.id ].resource.ieet.route )= i18n[ LANG.id ].resource.ieet.text
            li.dropdown__item.item
              a.item__link( href = i18n[ LANG.id ].resource.sitemap.route )= i18n[ LANG.id ].resource.sitemap.text
            li.dropdown__item.item
              a.item__link( href = i18n[ LANG.id ].resource.alumni.route )= i18n[ LANG.id ].resource.alumni.text

      //- Login
      a.navigation__login.login( href = i18n[ LANG.id ].home.login.route )
        +image( {
          alt:       i18n[ LANG.id ].home.login.text,
          className: 'login__image',
          src:       'icon/user.png',
        } )
        span.login__text= i18n[ LANG.id ].home.login.text

      //- Calendar, currently not available
      a.navigation__calendar.calendar( href = i18n[ LANG.id ].home.calendar.route )
        +image( {
          alt:       i18n[ LANG.id ].home.calendar.text,
          className: 'calendar__image',
          src:       'icon/calendar.png',
        } )
        span.calendar__text= i18n[ LANG.id ].home.calendar.text

      //- Language Choice
      section.navigation__language.language
        +image( {
          alt:       i18n[ LANG.id ].language,
          className: 'language__image',
          src:       `icon/flag-${ LANG.id }.png`,
        } )
        span.language__text= i18n[ LANG.id ].language
        button.language__switch
        ul.language__dropdown.dropdown
          li.dropdown__item.item
            a.item__link.link(
              href = UTILS.url( {
                href: currentRoute,
                query: { languageId: LANG.getLanguageId( 'zh-TW' ) }
              } )
            )
              +image( {
                alt:       '臺灣',
                className: 'link__image',
                src:       `icon/flag-${ LANG.getLanguageId( 'zh-TW' ) }.png`,
              } )
              if LANG.id === LANG.getLanguageId( 'zh-TW' )
                span.link__text.link__text--active 臺灣
              else
                span.link__text 臺灣
          li.dropdown__item.item
            a.item__link.link( href = UTILS.url( { href: currentRoute, query: { languageId: LANG.getLanguageId( 'en-US' ) } } ) )
              +image( {
                alt:       'USA',
                className: 'link__image',
                src:       `icon/flag-${ LANG.getLanguageId( 'en-US' ) }.png`,
              } )
              if LANG.id === LANG.getLanguageId( 'en-US' )
                span.link__text.link__text--active USA
              else
                span.link__text USA
