include /components/common/header-i18n.pug

mixin navigation__list
  - const i18n = headerI18n();

  ul.navigation__list.list
    li.list__item.item.list__item--about
      a.item__link( href = i18n[ LANG.id ].about.index.route )= i18n[ LANG.id ].about.index.text
      button.item__switch
      ul.item__dropdown.dropdown
        li.dropdown__item.item
          a.item__link( href = i18n[ LANG.id ].about.intro.route )= i18n[ LANG.id ].about.intro.text
        li.dropdown__item.item
          a.item__link( href = i18n[ LANG.id ].about.faculty.route )= i18n[ LANG.id ].about.faculty.text
        li.dropdown__item.item
          a.item__link( href = i18n[ LANG.id ].about.staff.route )= i18n[ LANG.id ].about.staff.text
        li.dropdown__item.item
          a.item__link( href = i18n[ LANG.id ].about.award.route )= i18n[ LANG.id ].about.award.text
        li.dropdown__item.item
          a.item__link( href = i18n[ LANG.id ].about.rule.route )= i18n[ LANG.id ].about.rule.text
        li.dropdown__item.item
          a.item__link( href = i18n[ LANG.id ].about.contact.route )= i18n[ LANG.id ].about.contact.text
    li.list__item.item.list__item--announcement
      a.item__link( href = i18n[ LANG.id ].announcement.index.route )= i18n[ LANG.id ].announcement.index.text
      button.item__switch
      ul.item__dropdown.dropdown
        li.dropdown__item.item
          a.item__link( href = i18n[ LANG.id ].announcement.all.route )= i18n[ LANG.id ].announcement.all.text
        li.dropdown__item.item
          a.item__link( href = i18n[ LANG.id ].announcement.activity.route )= i18n[ LANG.id ].announcement.activity.text
        li.dropdown__item.item
          a.item__link( href = i18n[ LANG.id ].announcement.admission.route )= i18n[ LANG.id ].announcement.admission.text
        li.dropdown__item.item
          a.item__link( href = i18n[ LANG.id ].announcement.recruitment.route )= i18n[ LANG.id ].announcement.recruitment.text
    li.list__item.item.list__item--student
      a.item__link( href = i18n[ LANG.id ].student.index.route )= i18n[ LANG.id ].student.index.text
      button.item__switch
      ul.item__dropdown.dropdown
        li.dropdown__item.item
          a.item__link( href = i18n[ LANG.id ].student.highSchool.route )= i18n[ LANG.id ].student.highSchool.text
        li.dropdown__item.item
          a.item__link( href = i18n[ LANG.id ].student.college.route )= i18n[ LANG.id ].student.college.text
        li.dropdown__item.item
          a.item__link( href = i18n[ LANG.id ].student.master.route )= i18n[ LANG.id ].student.master.text
        li.dropdown__item.item
          a.item__link( href = i18n[ LANG.id ].student.phd.route )= i18n[ LANG.id ].student.phd.text
        li.dropdown__item.item
          a.item__link( href = i18n[ LANG.id ].student.international.route )= i18n[ LANG.id ].student.international.text
        li.dropdown__item.item
          a.item__link( href = i18n[ LANG.id ].student.studentAssociation.route )= i18n[ LANG.id ].student.studentAssociation.text
    li.list__item.item.list__item--research
      a.item__link( href = i18n[ LANG.id ].research.index.route )= i18n[ LANG.id ].research.index.text
      button.item__switch
      ul.item__dropdown.dropdown
        li.dropdown__item.item
          a.item__link( href = i18n[ LANG.id ].research.lab.route )= i18n[ LANG.id ].research.lab.text
        li.dropdown__item.item
          a.item__link( href = i18n[ LANG.id ].research.researchGroup.route )= i18n[ LANG.id ].research.researchGroup.text
        li.dropdown__item.item
          a.item__link( href = i18n[ LANG.id ].research.center.route )= i18n[ LANG.id ].research.center.text
    li.list__item.item.list__item--resource
      a.item__link( href = i18n[ LANG.id ].resource.index.route )= i18n[ LANG.id ].resource.index.text
      button.item__switch
      ul.item__dropdown.dropdown
        li.dropdown__item.item
          a.item__link( href = i18n[ LANG.id ].resource.venue.route )= i18n[ LANG.id ].resource.venue.text
        li.dropdown__item.item
          a.item__link( href = i18n[ LANG.id ].resource.sitemap.route )= i18n[ LANG.id ].resource.sitemap.text
        li.dropdown__item.item
          a.item__link( href = i18n[ LANG.id ].resource.alumni.route )= i18n[ LANG.id ].resource.alumni.text
        li.dropdown__item.item
          a.item__link( href = i18n[ LANG.id ].resource.link.route )= i18n[ LANG.id ].resource.link.text
    li.list__item.item
      a.item__link.item__link--no-dropdown( href = i18n[ LANG.id ].attachment.index.route )= i18n[ LANG.id ].attachment.index.text
