//- No result content template module.
mixin noResult( belongBlock )
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        noResult: 'No result',
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        noResult: '查無結果',
      },
    } );

  section.no-result.no-result--hidden( class = `${ belongBlock }__no-result` )
    h2.no-result__caption= i18n[ LANG.id ].noResult

//- No result content template module.
mixin noResultWithImage( belongBlock )
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        noResult:   'No result',
        suggestion: {
          start: 'Try changing the filters or return to the ',
          link:  'home page',
          end:   '.',
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        noResult:   '查無結果',
        suggestion: {
          start: '變更篩選器或回到',
          link:  '首頁',
          end:   '',
        },
      },
    } );

  figure.no-result.no-result--hidden( class = `${ belongBlock }__no-result` )
    +image( {
      alt:       i18n[ LANG.id ].noResult,
      className: 'no-result__image',
      src:       'icon/no-result.png',
    } )
    figcaption.no-result__caption= i18n[ LANG.id ].noResult
    section.no-result__suggestion.suggestion
      article.suggestion__text= i18n[ LANG.id ].suggestion.start
      a.suggestion__link( href = UTILS.url( { href: '' } ) )= i18n[ LANG.id ].suggestion.link
      article.suggestion__text= i18n[ LANG.id ].suggestion.end
