-
  function url( { href = '', query = null } = {} ) {
    if ( !query )
      return `${ host }/${ href }?language=${ language }`
    const queryStr = Reflect.ownKeys( query )
      .map( key => `${ key }=${ query[ key ] }` )
      .join( '&' );
    if( query.language )
      return `${ host }/${ href }?${ queryStr }`;
    return `${ host }/${ href }?${ queryStr }&language=${ language }`;
  }