-
  function url( { href = '', query = null } = {} ) {
    if ( !query )
      return `${ host }/${ href }?languageId=${ language.id }`
    const queryStr = Reflect.ownKeys( query )
      .map( key => `${ key }=${ query[ key ] }` )
      .join( '&' );
    if( typeof( Number( query.languageId ) ) === 'number' )
      return `${ host }/${ href }?${ queryStr }`;
    return `${ host }/${ href }?${ queryStr }&languageId=${ language.id }`;
  }
