doctype html
html
  head
    title search
  body
    h1 search in csie
    p#page!= 'page:' + page
    p#tag!= 'tag:' + tag
    p#announcement!= 'announce_id:' + announcement_id
    p#announcement_data!= 'data:' + announcement_data
    p#time!= 'time:' + time
    script.
      if(tag !== undefined ) document.getElementById('tag').innerHTML = 'tag:' + #{tag} + ', should remove the left column';
