include /components/user/form/text.pug
include /components/user/form/i18n-text.pug
include /components/user/form/delete-preview.pug

mixin form-input( modifier, method, formI18n, inputConfig )
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        button: {
          check: 'check',
          cancel: 'cancel',
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        button: {
          check: '確定',
          cancel: '取消',
        }
      }
    })
  form.form-input.form__form-input(id=`form-${modifier}-${method}`)
    h2.form-input__title.title= formI18n[ LANG.id ][ method ]
    section.form-input__content.content
      if method === 'patch' || method === 'post'
        each config in inputConfig
          if config.type === 'i18n-text'
            +i18n-text( config, formI18n, method, modifier )
          if config.type === 'text'
            +text( config, formI18n, method, modifier )
        p.content__error-message.error-message= ''
      if method === 'delete'
        +delete-preview()

    section.form-input__button.button
      button.button__check.check= i18n[ LANG.id ].button.check
      button.button__cancel.cancel= i18n[ LANG.id ].button.cancel
