include /components/common/image.pug

mixin i18n-text ( config, i18n, method, table )
  section.content__i18n-text.i18n-text
    h4.i18n-text__input-title.input-title= i18n[ LANG.id ].title[ config.columnName ]
    section.i18n-text__zh-tw.zh-tw
      +image( {
        alt: 'zh-tw',
        className: 'zh-tw__flag flag',
        src: `icon/tw.png`,
      } )
      input.zh-tw__text-input.text-input(
        input-pattern='i18n',
        languageId= LANG.getLanguageId( 'zh-TW' ),
        placeholder=i18n[ LANG.getLanguageId( 'zh-TW' ) ].default[ config.columnName ],
        name=`${ config.columnName }TW`,
        column= config.columnName,
        table= table,
        method= method,
      )&attributes(config.validation)
    section.i18n-text__en-us.en-us
      +image( {
        alt: 'en-us',
        className: 'en-us__flag flag',
        src: `icon/us.png`,
      } )
      input.en-us__text-input.text-input(
        input-pattern='i18n',
        languageId= LANG.getLanguageId( 'en-US' ),
        placeholder=i18n[ LANG.getLanguageId( 'en-US' ) ].default[ config.columnName ],
        name=`${ config.columnName }EN`,
        column= config.columnName,
        method= method,
        table= table,
      )&attributes(config.validation)