mixin entries__entry( word = {} )
  if word.color == "red"
    h1.entries__entry.entries__entry--red.entry
      a.entry__title( href = "" )= word.title
      p.entry__detail= word.detail
      a.entry__counter( href = "" )= word.counter
  else if word.color == "green"
    h1.entries__entry.entries__entry--green.entry
      a.entry__title( href = "" )= word.title
      p.entry__detail= word.detail
      a.entry__counter( href = "" )= word.counter
  else if word.color == "yellow"
    h1.entries__entry.entries__entry--yellow.entry
      a.entry__title( href = "" )= word.title
      p.entry__detail= word.detail
      a.entry__counter( href = "" )= word.counter