extends /layouts/base.pug

append data
  -
    const i18n= Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        title:    'Venue Hire',
        breadcrumb: {
          home:  'Home',
          resource: 'Resource',
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        title: '場地租借',
        breadcrumb: {
          home:  '首頁',
          resource: '相關服務',
        },
      },
    } );
    const currentRoute = 'resource/venue';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'resource/venue' )

append header
  +banner(
    'body',
    i18n[ LANG.id ].title
  )

append breadcrumb
  +breadcrumb(
    'content',
    [
      { text: i18n[ LANG.id ].breadcrumb.home, route: '' },
      { text: i18n[ LANG.id ].breadcrumb.resource, route: 'resource' },
      { text: i18n[ LANG.id ].title },
    ]
  )

append content
  include /components/common/topic.pug
  include /components/resource/venue/venue-i18n.pug

  section#venue.content__venue.venue
    +topic( 'venue', i18n[ LANG.id ].title )
    each goal in venueI18n()[ LANG.id ]
      section.venue__goal.goal
        header.goal__aspect= goal.aspect
        article.goal__context.context
          article.context__paragraph.paragraph
            if Array.isArray( goal.context )
              each context in goal.context
                header.paragraph__title= context.title
                each paragraph in context.paragraph
                  if paragraph.type === 'text'
                    p.paragraph__text= paragraph.text
                  else if paragraph.type === 'list'
                    ul.paragraph__list.list
                      each list in paragraph.list
                        li.list__text= list
                  else
                    p.paragraph__list-description= paragraph.listDescription
            else
              a.paragraph__link( href = goal.link )= goal.context
    a.venue__attachment(
      href = UTILS.url( { href : 'static/image/asset/空間場地管理辦法-1080222-增修通過.pdf' } )
      download
    ) 空間場地管理辦法-1080222-增修通過.pdf
    a.venue__attachment(
      href = UTILS.url( { href : 'static/image/asset/{更新}國立成功大學資訊工程學系場地設備借用管理要點1100513.pdf' } )
      download
    ) {更新}國立成功大學資訊工程學系場地設備借用管理要點1100513.pdf
  section.content__foot
append footer

append scripts
  +js( 'resource/venue' )
