mixin award-card( data )
  -
    const i18n =  Object.freeze({
      [ LANG.getLanguageId( 'en-US' ) ]: {
        topic: {
          award:         'Award',
          receivedYear:  'Received Year',
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        topic: {
          award:         '獎項',
          receivedYear:  '獲獎年份',
        },
      },
    })
  section.award-card.cards__award-card
    section.award-card__content
      article.content__element.content__element--award
        h4.element__topic.topic= i18n[ LANG.id ].topic.award
        p.element__value.value= data.award
      article.content__element.content__element--receivedYear
        h4.element__topic.topic= i18n[ LANG.id ].topic.receivedYear
        p.element__value.value= data.receivedYear
    img.award-card__patch(
      alt = 'patch',
      id = `award-card__patch--${ data.awardId }`,
      src = UTILS.staticUrl( { href: 'image/icon/edit.png' } ),
      data-id = data.awardId
    )
    img.award-card__delete(
      alt = 'delete',
      id = `award-card__delete--${ data.awardId }`,
      src = UTILS.staticUrl( { href: 'image/icon/delete.png' } )
      data-id = data.awardId
    )
