include /components/common/image.pug

mixin education-card( data )
  section.education-card.cards__education-card
    section.education-card__value
      time.value__time
        if data.from !== null
          p.time__from.from= data.from
        else
          p.time__from.from= '2008'
        hr.time__till
        if data.to !== null
          p.time__to.to= data.to
        else
          p.time__to.to= '----'
      +image( {
        alt: 'nation',
        className: 'value__flag',
        src: `icon/${ UTILS.faculty.nationUtils.getOptionById( id = data.nation ) }.png`,
      } )
      p.value__text.value__text--school= data.school
      p.value__text.value__text--major= data.major
      p.value__text.value__text--degree= UTILS.faculty.degreeUtils.getValueById( { id: data.degree, languageId: LANG.id} )
    img.education-card__patch(
      alt = 'patch',
      id = `education-card__patch--${ data.educationId }`,
      src = UTILS.staticUrl( { href: 'image/icon/edit.png' } ),
      data-id = data.educationId
    )
    img.education-card__delete(
      alt = 'delete',
      id = `education-card__delete--${ data.educationId }`,
      src = UTILS.staticUrl( { href: 'image/icon/delete.png' } )
      data-id = data.educationId
    )

