include /components/common/image.pug

mixin education-card( data )
  -
    const i18n =  Object.freeze({
      [ LANG.getLanguageId( 'en-US' ) ]: {
        topic: {
          duration:   'Duration',
          school:     'School',
          nation:     'Nation',
          major:      'Major',
          degree:     'Degree'
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        topic: {
          duration:   '就學期間',
          school:     '學校',
          nation:     '國家',
          major:      '主修科目',
          degree:     '學位'
        },
      },
    })
    const to = (data.to === null)? '----' : data.to
    const from = (data.from === null)? '----': data.from
  section.education-card.cards__education-card
    section.education-card__content
      article.content__element.content__element--school
        h4.element__topic.topic= i18n[ LANG.id ].topic.school
        p.element__value.value= data.school
      article.content__element.content__element--duration
        h4.element__topic.topic= i18n[ LANG.id ].topic.duration
        p.element__value.value= `${from} - ${to}`
      article.content__element.content__element--major
        h4.element__topic.topic= i18n[ LANG.id ].topic.major
        p.element__value.value= data.major
      article.content__element.content__element--nation
        h4.element__topic.topic= i18n[ LANG.id ].topic.nation
        p.element__value.value= UTILS.faculty.nationUtils.getValueById( { id: data.nation, languageId: LANG.id} )
      article.content__element.content__element--degree
        h4.element__topic.topic= i18n[ LANG.id ].topic.degree
        p.element__value.value= UTILS.faculty.degreeUtils.getValueById( { id: data.degree, languageId: LANG.id} )
    img.education-card__patch(
      alt = 'patch',
      id = `education-card__patch--${ data.educationId }`,
      src = UTILS.staticUrl( { href: 'image/icon/edit.png' } ),
      data-id = data.educationId
    )
    img.education-card__delete(
      alt = 'delete',
      id = `education-card__delete--${ data.educationId }`,
      src = UTILS.staticUrl( { href: 'image/icon/delete.png' } )
      data-id = data.educationId
    )

