include /components/common/image.pug

mixin experience-card( data )
  -
    const i18n =  Object.freeze({
      [ LANG.getLanguageId( 'en-US' ) ]: {
        topic: {
          duration:      'Duration',
          organization:  'Organization',
          department:    'Department',
          title:         'Title'
        },
        now: 'now'
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        topic: {
          duration:      '期間',
          organization:  '任職單位',
          department:    '任職部門',
          title:         '職稱',
        },
        now: '現在'
      },
    })
    const from = (data.from === null)? '----' : data.from
    const to = (data.to === null)? i18n[ LANG.id ].now : data.to
  section.experience-card.cards__experience-card
    section.experience-card__content
      article.content__element.content__element--duration
        h4.element__topic.topic= i18n[ LANG.id ].topic.duration
        p.element__value.value= `${ from } - ${ to }`
      article.content__element.content__element--organization
        h4.element__topic.topic= i18n[ LANG.id ].topic.organization
        p.element__value.value= data.organization
      article.content__element.content__element--department
        h4.element__topic.topic= i18n[ LANG.id ].topic.department
        p.element__value.value= data.department
      article.content__element.content__element--title
        h4.element__topic.topic= i18n[ LANG.id ].topic.title
        p.element__value.value= data.title
    img.experience-card__patch(
      alt = 'patch',
      id = `experience-card__patch--${ data.experienceId }`,
      src = UTILS.staticUrl( { href: 'image/icon/edit.png' } ),
      data-id = data.experienceId
    )
    img.experience-card__delete(
      alt = 'delete',
      id = `experience-card__delete--${ data.experienceId }`,
      src = UTILS.staticUrl( { href: 'image/icon/delete.png' } )
      data-id = data.experienceId
    )

