include /components/common/image.pug

mixin title-card( data )
  -
    const i18n = Object.freeze({
      [ LANG.getLanguageId( 'en-US' ) ]: {
        now: 'NOW',
        duration: 'Duration',
        title: 'Title'
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        now: '現在',
        duration: '期間',
        title: '職稱'
      },
    })
    const to = (data.to === null)? i18n[ LANG.id ].now : data.to
    const from = (data.from === null)? '----' : data.from
  section.title-card.cards__title-card
    section.title-card__content
      article.content__element.content__element--title
        h4.element__topic.topic= i18n[ LANG.id ].title
        p.element__value.value= data.title
      article.content__element.content__element--duration
        h4.element__topic.topic= i18n[ LANG.id ].duration
        p.element__value.value= `${ from }  -  ${ to }`
    img.title-card__patch(
      alt = 'patch',
      id = `title-card__patch--${ data.titleId }`,
      src = UTILS.staticUrl( { href: 'image/icon/edit.png' } ),
      data-id = data.titleId
    )
    img.title-card__delete(
      alt = 'delete',
      id = `title-card__delete--${ data.titleId }`,
      src = UTILS.staticUrl( { href: 'image/icon/delete.png' } )
      data-id = data.titleId
    )

