mixin details__detail( faculty = {} )
  if profile !== null
    section.profile
    img.photo(src="/path-to-image.jpg", alt="Image Title")
  if education !== null
    section.education
  if experience !== null
    section.experience
  if award !== null
    section.award
      +topic( i18n[ language ].award )
      h2.headline__small 2014
      +award__list( [ '1','2','3' ] )
      h2.headline__small 2018
      +award__list( [ '1','2','3' ] )
  if publication !== null
    section.publication
      +topic( i18n[ language ].publication )
      +subtitle( i18n[ language ].publication__accepted )
      +publication__list( [ '1','2','3' ] )
      +subtitle( i18n[ language ].publication__refereed )
      +publication__list( [ '1','2','3' ] )
      +subtitle( i18n[ language ].publication__international )
      +publication__list( [ '1','2','3' ] )
      +subtitle( i18n[ language ].publication__domestic )
      +publication__list( [ '1','2','3' ] )
  if patent !== null
    section.patent
  if research !== null
    section.research
  if student !== null
    section.student
      +topic( i18n[ language ].student )
      +subtitle( i18n[ language ].student__doctoral )
      section.student__members
        +student__list--memberdoc( [ '1','2','3','4' ] )
      +subtitle( i18n[ language ].student__master )
      section.student__members
        +student__list--membermas( [ '1','2','3','4' ] )
      +subtitle( i18n[ language ].student__award )
      +student__list--honor( [ '1','2','3' ] )
      +subtitle( i18n[ language ].student__meeting )
      +student__list--meeting( [ '1','2','3' ] )

mixin student__list--memberdoc( array )
    each element in array
      p( class=`student__member--doctoral` )= '博士生'
mixin student__list--membermas( array )
    each element in array
      p( class=`student__member--master` )= '碩士生'
mixin student__list--honor( array )
    each element in array
      p( class=`student__award` )= '國立成功大學電資學院輔導優良導師, 2014'
mixin student__list--meeting( array )
    each element in array
      p( class=`student__meeting` )= 'Award Chair of 2017 IEEE Conference on Robotics and Automation (ICRA 2017)'
mixin award__list( array )
    each element in array
      p( class=`award__content` )= '國立成功大學電資學院'
mixin publication__list( array )
    each element in array
      p( class=`publication__content` )= 'PubTator: a Web-based text mining tool for assisting Biocuration'

  figure.cards__card.card
    //- photo of faculty
    img.card__photo( src=faculty.photo, alt=faculty.name )

    article.card__intro.intro
      //- name of faculty
      h1.intro__name= faculty.name

      //- titles belong to faculty
      if faculty.titles !== null
        +intro__list( 'title', faculty.titles )

      //- departments belong to faculty
      if faculty.departments !== null
        +intro__list( 'department', faculty.departments )

      //- email of faculty
      p.intro__email= faculty.email

      //- offices belong to faculty
      if faculty.offices !== null
        each office in faculty.offices
          address.intro__address= office.address
          a.intro__phone( href=`tel:${ office.tel }` )= office.tel

    //- [interaction]
    //- hover effect
    article.card__intro--hover.intro

      //- personal web of faculty
      if faculty.personalWeb !== null
        a.intro__personal-website( href=faculty.personalWeb )

      //- detail link of faculty
      a.intro__more( href=`/about/faculty/${ faculty.profileId }?language=${ language }` ) see more

mixin intro__list( attribute, array )
  ul( class=`intro__${ attribute }s` )
    each element in array
      li( class=`intro__${ attribute }` )= element[ attribute ]

//- main
- faculty.sort( ( facultyA, facultyB ) => facultyA.position - facultyB.position )
each profile in faculty
  +cards__card( profile )