extends /layouts/announcement/announcement.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        'title':    'Announcement Detail',
        'breadcrumb': {
          'home':   'Home',
          'normal': 'Announcement',
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        'title':    '公告內容',
        'breadcrumb': {
          'normal': '系所公告',
          'home':   '首頁',
        },
      },
    } );
    const currentRoute = `announcement/${ data.announcementId }`;

append title
  +title( data.title )

append stylesheets
  +css( 'announcement/detail' )

append header
  +banner(
    'body',
    i18n[ LANG.id ].title
  )

append breadcrumb

append content
  include /components/announcement/delete-preview.pug

  section.content__announcement.announcement
    aside.announcement__editor.editor#announcement__editor
    header.announcement__headline.headline
      aside.headline__tags.tags
        each tagId in data.tags
          button.tags__tag(
            class = `tags__tag--${ UTILS.announcement.tagUtils.getTagColorById( tagId ) }`
          )= UTILS.announcement.tagUtils.getValueById( { id: tagId, languageId: LANG.id, } )
      h1.headline__title= data.title
      // a.headline__announcer= `公告人員 : ${ data.author }`
      time.headline__time= data.updateTime.split(" ").join(" | ")
    if data.image !== null
      img(
        alt   = 'image',
        class = 'announcement__image',
        src   = `data:image/jpeg;base64,${ data.image }`,
      )
    article.announcement__article.article.markdown-body !{ data.content }
    nav.announcement__attachments.attachments
      - data.files.sort( ( fileA, fileB ) => fileA.name.length - fileB.name.length )
      each fileObj in data.files
        a.attachments__attachment(
          href = UTILS.url( { href: `announcement/${ data.announcementId }/file/${ fileObj.fileId }` } )
        )= fileObj.name
  section#announcement__delete.content__delete.delete
    +deletPreview( 'delete' )

append footer

append scripts
  +js( 'announcement/detail' )
