doctype html
html
  head
    title #{T.c_name} | 教授資訊
  body
    //- 導覽列
    header#nav
      nav
        li 首頁
        li 關於本系
        li 學術研究
        li 學生事務
        li 系所公告
        li 資源連結

    section#grid()
      //- 封面
      section#cover()
        img#head(src="kao.png", alt="載入中...")
        p#name #{T.c_name}
        each name in T.c_title_name
          p#position #{name} |
        svg(width='100%',height='300',viewBox='0 0 400 300', preserveAspectRatio='none')
          path(d='M0,0 L0,100  C229,175 195,29 400,100  L400,0 Z')
        
      //- 卡片
      //- section#card()
        //- section#pic()
        //-   img(src="../../static/src/img/about/kao.png", alt="載入中...")
        section#contect()
          //- section#mail
          //-   <svg width='25' viewBox="0 0 512 512"><path d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"/></svg>
          //-   p hykao@mail.ncku.edu.tw
          //- section#phone
          //-   <svg width='25' viewBox="0 0 512 512"><path d="M493.397 24.615l-104-23.997c-11.314-2.611-22.879 3.252-27.456 13.931l-48 111.997a24 24 0 0 0 6.862 28.029l60.617 49.596c-35.973 76.675-98.938 140.508-177.249 177.248l-49.596-60.616a24 24 0 0 0-28.029-6.862l-111.997 48C3.873 366.516-1.994 378.08.618 389.397l23.997 104C27.109 504.204 36.748 512 48 512c256.087 0 464-207.532 464-464 0-11.176-7.714-20.873-18.603-23.385z"/></svg>
          //-   p 06-2757575 ext 62546
          //- section#lab
          //-   <svg width='25' viewBox="0 0 448 512"><path d="M436 480h-20V24c0-13.255-10.745-24-24-24H56C42.745 0 32 10.745 32 24v456H12c-6.627 0-12 5.373-12 12v20h448v-20c0-6.627-5.373-12-12-12zM128 76c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12V76zm0 96c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40zm52 148h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12zm76 160h-64v-84c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v84zm64-172c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40zm0-96c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40zm0-96c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12V76c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40z"/></svg>
          //-   p 
          //-     |智慧型知識管理實驗室 
          //-     br
          //-     |(資訊系館新大樓9F 65903)
      //- 資訊
      section#intro()
        article
          h1 專長及研究領域
          each name in T.specialty
            p #{name}
          br
          h1 學歷
          each name in T.education
            p #{name}
          br
          h1 經歷
          each name in T.experience
            p #{name}
  script(src="teacher.js")
  script(src="vendors.js")
            

