mixin button( belongBlock, type ) 
  button.input-button( 
    class=`${ belongBlock }__input-button--${ type } input-button--${ type } ` 
    id=`${ belongBlock }__input-button--${ type }` ) 

    +image( {
        alt:       '>',
        className: `input-button__image`,
        src:       'icon/arrow-right.png',
    } )