mixin button( belongBlock, type )
  button( class=`${ belongBlock }__${ type }` id=`${ belongBlock }__${ type }` )
    +image( {
      alt:       '>',
      className: `${ belongBlock }__${ type }--img`,
      src:       'icon/arrow-right.png',
    } )