- 
section.input-block(class=`${ data.belongBlock }__input-block ${ data.belongBlock }__input-block--${ data.modifier }` id=`${ data.modifier }-${ data.id }` )
  main.input-block__block.block
    if data.title !== null
      h1.block__title= data.title
    article.block__content.content
      p.content__word= data.content
      button.content__remove(class=`content__remove--${ data.modifier }`)= data.button.remove
      button.content__modify(class=`content__modify--${ data.modifier }`)= data.button.modifier
    aside.input-block__add.add
      button.add__button( id=`add__button--${ data.modifier }-${ data.id }` )= data.button.add