- 
  const i18n = Object.freeze( {
    [ LANG.getLanguageId( 'en-US' ) ]: {
      addStudent: 'add student',
      addPatent:  'add patent',
    },
    [ LANG.getLanguageId( 'zh-TW' ) ]: {
      addStudent: '新增學生',
      addPatent:  '新增專利',
    },
  } );

if Array.isArray( opt.subtitle ) && opt.subtitle.length
  each subtitle in opt.subtitle
    section.subtitle
      p.subtitle__word= subtitle

section.input-block( class=`${ opt.dbTable }__input-block ${ opt.dbTable }__input-block--${ opt.id }` )
  main.input-block__block.block 
    article.block__content.content
      if opt.dbTable === 'education'
        article.content__education.education
          if opt.res.from !== null
            time.education__time.time
              if opt.res.to === 0
                time.time__year= '-'
              else
                time.time__year= opt.res.from
              hr.time__till
              if opt.res.to !== null && opt.res.to !== 0
                time.time__year= opt.res.to
              else if opt.res.to === 0
                time.time__year= '-'
              //- If there is no end time, then it must be still studying.
              else
                time.time__year= new Date().getFullYear()
          ul.education__list.list
            if education.nation !== null
              img.list__flag( 
                alt = opt.nation,, 
                src = `${ host }/static/image/icon/${ opt.nation }.png`,
              )
            if opt.res.school !== null
              li.list__item= opt.res.school
            if opt.res.major !== null
              li.list__item= opt.res.major
            if opt.res.degree !== null
              li.list__item.list__item--blue= opt.degree

      else if opt.dbTable === 'experience'
        article.content__experience
          //- If there is no start time, then there must be no end time.
          if opt.res.from !== null
            time.experience__time.time
              time.time__year= opt.res.from
              hr.time__till
              if opt.res.to !== null
                time.time__year= opt.res.to
              //- If there is no end time, then it must be still studying.
              else
                time.time__year= new Date().getFullYear()
          ul.experience__list.list
            if opt.res.organization !== null
              li.list__item= opt.res.organization
            if opt.res.department !== null
              li.list__item= opt.res.department
            if opt.res.title !== null
              li.list__item.list__item--blue= opt.res.title

      else if opt.dbTable === 'project'
        article.content__project
          if opt.isTitle 
            section.project__title.title
              p.title__item.title__item--time= dataI18n[ languageId ].localTopic.time
              p.title__item.title__item--name= dataI18n[ languageId ].localTopic.name
              p.title__item.title__item--support= dataI18n[ languageId ].localTopic.support
          if !opt.isTitle
            section.project__content.content
              article.content__item.content__item--time
                //- If there is no start time, then there must be no end time.
                if opt.res.from !== null
                  time.item__time.time
                    if opt.res.from === 0
                      time.time__year= '0000'
                    else
                      time.time__year= opt.res.from
                    hr.time__till
                    if opt.res.to !== null
                      time.time__year= opt.res.to
                    //- If there is no end time, then it must be still studying.
                    else
                      time.time__year= new Date().getFullYear()
              article.content__item.content__item--name
                p.item__word= opt.res.name
              article.content__item.content__item--support
                p.item__word= opt.res.support

      else if opt.dbTable === 'studentAward'
        article.content__studentAward
          p.word__text= opt.res.award
          if Array.isArray( opt.res.student ) && opt.res.student.length
            each student in opt.res.student
              section.word__student
                img.student__button--remove( 
                  alt = 'remove', 
                  class = `student__remove-${ student.studentId }`
                  src = `${ host }/static/image/icon/cross.png`,
                )
                img.student__button--modify( 
                  alt = 'edit', 
                  class = `student__modify-${ student.studentId }`
                  src = `${ host }/static/image/icon/settings.png`,
                )
                article.student__detail
                  p.detail__text= student.name
                  p.detail__text= opt.degreeI18n[ opt.degreeUtils.map[ student.degree ] ]
          p.word__add( class=`content__modify--student-${ opt.id }` )= i18n[ languageId ].addStudent

      else if opt.dbTable === 'patent'
        article.content__patent
          if opt.isTitle 
            section.patent__title.title
              p.title__item.title__item--certificationNumber= dataI18n[ languageId ].localTopic.certificationNumber
              p.title__item.title__item--patent= dataI18n[ languageId ].localTopic.patent
              p.title__item.title__item--nation= dataI18n[ languageId ].localTopic.nation
              p.title__item.title__item--inventor=  dataI18n[ languageId ].localTopic.inventor
              p.title__item.title__item--patentOwner= dataI18n[ languageId ].localTopic.patentOwner
          if !opt.isTitle
            section.patent__content.content
              article.content__item.content__item--certificationNumber
                p.item__word= opt.res.certificationNumber
              article.content__item.content__item--patent
                p.item__word= opt.res.patent
              article.content__item.content__item--nation
                img.item__nation( 
                  alt = 'remove', 
                  src = `${ host }/static/image/icon/${ opt.nation }.png`,
                )
              article.content__item.content__item--inventor
                p.item__word= opt.res.inventor
              article.content__item.content__item--patentOwner
                p.item__word= opt.res.patentOwner

      else if opt.dbTable === 'technologyTransfer'
        article.content__technologyTransfer
          if opt.isTitle 
            section.technologyTransfer__title.title
              p.title__item.title__item--time= dataI18n[ languageId ].localTopic.time
              p.title__item.title__item--technology=dataI18n[ languageId ].localTopic.technology
              p.title__item.title__item--authorizedParty= dataI18n[ languageId ].localTopic.authorizedParty
              p.title__item.title__item--authorizingParty= dataI18n[ languageId ].localTopic.authorizingParty
          if !opt.isTitle
            section.technologyTransfer__content.content
              article.content__item.content__item--time
                //- If there is no start time, then there must be no end time.
                if opt.res.from !== null
                  time.item__time.time
                    if opt.res.from === 0
                      time.time__year= '0000'
                    else
                      time.time__year= opt.res.from
                    hr.time__till
                    if opt.res.to !== null
                      time.time__year= opt.res.to
                    //- If there is no end time, then it must be still studying.
                    else
                      time.time__year= new Date().getFullYear()
              article.content__item.content__item--technology
                p.item__word= opt.res.technology
              article.content__item.content__item--authorizedParty
                p.item__word= opt.res.authorizedParty
              article.content__item.content__item--authorizingParty
                p.item__word= opt.res.authorizingParty
            if Array.isArray( opt.res.technologyTransferPatent ) && opt.res.technologyTransferPatent.length
              each patent in opt.res.technologyTransferPatent
                section.technologyTransfer__patent
                  img.patent__button--remove( 
                    alt = 'remove', 
                    class = `patent__remove-${ patent.technologyTransferPatentId }`
                    src = `${ host }/static/image/icon/cross.png`,
                  )
                  img.patent__button--modify( 
                    alt = 'edit', 
                    class = `patent__modify-${ patent.technologyTransferPatentId }`
                    src = `${ host }/static/image/icon/settings.png`,
                  )
                  article.patent__detail
                    p.detail__text= patent.patent
            p.technologyTransfer__add( class=`content__modify--technologyTransfer-${ opt.id }` )= i18n[ languageId ].addPatent     

      else
        article.content__word
          if Array.isArray( opt.content ) && opt.content.length
            each content in opt.content
              p.word__text= content

      if !opt.isTitle
        img.content__remove( 
          alt = 'remove', 
          class = `content__remove--${ opt.dbTable }-${ opt.id }`
          src = `${ host }/static/image/icon/delete.png`,
        )
        img.content__modify( 
          alt = 'edit', 
          class = `content__modify--${ opt.dbTable }-${ opt.id }`
          src = `${ host }/static/image/icon/edit.png`,
        )