- 
section.input-block(class=`${ data.info.modifier }__input-block ${ data.info.modifier }__input-block--${ data.info.modifier }` id=`${ data.modifier }-${ data.id }` )
  main.input-block__block.block 
    article.block__content.content
      p.content__word= data.info.content
      img.content__remove( 
        alt = 'remove', 
        class = `content__remove--${ data.info.modifier }-${ data.info.id }`
        src = data.removeSrc,
      )
      img.content__modify( 
        alt = 'edit', 
        class = `content__modify--${ data.info.modifier }-${ data.info.id }`
        src = data.editSrc,
      )