-
article.content__input#input
  if type === 'text'
    section.input__text
      if flag !== null 
        img.input__flag( src= flag alt= '>' )
      if content !== null
        input.input__content( 
          placeholder= content 
          type="text" 
          name=name 
        )
  else if type === 'time'
    article.input__time.time
      aside.time__from.from
        label.from__text= from
        span.from__input.input
          input.input__year( type = 'number', value = from_value, placeholder = 'yyyy' name= name_from)
      aside.time__to.to
        label.to__text= to
        span.to__input.input
          input.input__year( type = 'number', value = to_value, placeholder = 'yyyy' name= name_to)
  else if type === 'local-topic'
    section.input__local-topic.local-topic  
      p.local-topic= local_topic
  else if type === 'dropdown'
    section.input__dropdown.dropdown
      button.dropdown__top= '請選擇'
      article.dropdown__content
        each val, index in data
          button.content__item( value= index, name= name  )= val