mixin input( belongBlock, title, modifier, required=false, placeholder="" )
  section.input( class=`${ belongBlock }__input--${ modifier }` )
    aside.input__title
      if required
        p.title__required= '*'
      p.title__content= title
    section.input__input-block.input-block
      input.input-block__text( 
        id=`input-block__${ modifier }` 
        name=`${ modifier }`
        type=`text` 
        placeholder=`${ placeholder }` 
      )
