mixin input-block( belongBlock, title, content, modifier )
  - 
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        button: {
          edit: 'edit',
          remove: 'remove',
          add: 'add',
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        button: {
          edit: '編輯',
          remove: '刪除',
          add: '新增',
        },
      },
    } );
  section.input-block(class=`${belongBlock}__input-block ${belongBlock}__input-block--${modifier}` modifier=`${modifier}` )
    main.input-block__block.block
      h1.block__title=`${title}`
      article.block__content.content
        p.content__word( data-type=`${modifier}` )
        button.content__modify(class=`content__modify--${modifier}`)= i18n[ LANG.id ].button.edit
