mixin input-block( belongBlock, title, content, modifier, remove=false, add=false )
  - 
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        button: {
          edit: 'edit',
          remove: 'remove',
          add: 'add',
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        button: {
          edit: '編輯',
          remove: '刪除',
          add: '新增',
        },
      },
    } );
  section.input-block(class=`${belongBlock}__input-block ${belongBlock}__input-block--${modifier}` modifier=`${modifier}` )
    main.input-block__block.block
      h1.block__title=`${title}`
      article.block__content.content
        p.content__word( data-type=`${modifier}` )=`${content}`
        if remove
          button.content__remove(class=`content__remove--${modifier}`)= i18n[ LANG.id ].button.remove
        button.content__modify(class=`content__modify--${modifier}`)= i18n[ LANG.id ].button.edit
    if add
      aside.input-block__add.add
        button.add__button(id=`add__button--${modifier}`)= i18n[ LANG.id ].button.add
