mixin input-block( belongBlock, title, modifier, required=false, placeholder="" )
  section.block( class= `${ belongBlock }__block` )
    if required
      p.block__required= '*'
    else
      p.block__required= '&nbsp;'
    p.block__title= `${ title }`
    input.block__input( 
      id=`block__input--${ modifier }` 
      name=`${ modifier }`
      type=`text` 
      placeholder=`${ placeholder }` )