include /components/common/image.pug

mixin input-block( belongBlock, title, content, modifier )
  section.input-block(class=`${belongBlock}__input-block ${belongBlock}__input-block--${modifier}` modifier=`${modifier}` )
    main.input-block__block.block
      h1.block__title=`${title}`
      article.block__content.content
        p.content__word( data-type=`${modifier}` )
        +image( {
          alt: 'edit',
          className: `content__modify`,
          src: 'icon/edit.png',
        } )
