mixin input-block( belongBlock, title, modifier, required=false,  type="",placeholder="" )
  section.block( class= `${ belongBlock }__block` )
    article.block__title
      if type=='add'
        +button( title, 'add' )
      if required
        p.title__required= '*'
      else
        p.title__required= '&nbsp;'
      p.title__content= `${ title }`

    input.block__input( 
      id=`block__input--${ modifier }` 
      name=`${ modifier }`
      type=`text` 
      placeholder=`${ placeholder }` )