mixin input-block( belongBlock, title, modifier, required=false, placeholder="" )
  section.block( class=`${ belongBlock }__block ${ belongBlock }__block--${ modifier }` )
    aside.block__title
      if required
        p.title__required= '*'
      p.title__content= title
    section.block__input
      input.block__input--content( 
        id=`block__input--${ modifier }` 
        name=`${ modifier }`
        type=`text` 
        placeholder=`${ placeholder }` )
