mixin nation-dropdown( belongBlock, belongItem )
  - 
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        nation: {
          tw: '台灣',
          us: 'USA',
          cn: '中国',
          gb: 'UK',
          jp: '日本国',
          de: 'DE',
          au: 'AU',
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        nation: {
          tw: '台灣',
          us: 'USA',
          cn: '中国',
          gb: 'UK',
          jp: '日本国',
          de: 'DE',
          au: 'AU',
        },
      },
    } );
    n = 1;

  section.nation-dropdown( class=`${ belongBlock }__nation-dropdown` id=`${ belongBlock }__nation-dropdown`)
    section.nation-dropdown__content.content
      each val, index in i18n[ LANG.id ].nation
        if n++ == 1
          button.content__button.content__button--top( class=`nation__${ index }` id=`nation__${ index }` )
            +image( {
              alt:       '>',
              className: `button__flag`,
              src:       `icon/${ index }.png`,
            } )
            p.button__content= `${ val }`
            +image( {
              alt:       '>',
              className: `button__arrow`,
              src:       `icon/arrow-right.png`,
            } )
        else
          button.content__button( class=`nation__${ index }` id=`nation__${ index }` )
            +image( {
              alt:       '>',
              className: `button__flag`,
              src:       `icon/${ index }.png`,
            } )
            p.button__content= `${ val }`
            +image( {
              alt:       '>',
              className: `button__arrow`,
              src:       `icon/arrow-right.png`,
            } )


