mixin nation-dropdown( belongBlock )
  - 
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        nation: {
          tw: '台灣',
          us: 'USA',
          cn: '中国',
          gb: 'UK',
          jp: '日本国',
          de: 'DE',
          au: 'AU',
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        nation: {
          tw: '台灣',
          us: 'USA',
          cn: '中国',
          gb: 'UK',
          jp: '日本国',
          de: 'DE',
          au: 'AU',
        },
      },
    } );
    n = 1;

  section.nation-dropdown( class=`${ belongBlock }__nation-dropdown` )
    each val, index in i18n[ LANG.id ].nation
      if n++ == 1
        article.nation-dropdown__button.nation-dropdown__button--show( id=`nation__${ val }` )
          +image( {
            alt:       '>',
            className: `button__img`,
            src:       `icon/${ index }.png`,
          } )
          p.button__content= `${ val }`
          +image( {
            alt:       '>',
            className: `button__img`,
            src:       `icon/arrow-right.png`,
          } )
      else
        article.nation-dropdown__button( id=`nation__${ val }` )
          +image( {
            alt:       '>',
            className: `button__img`,
            src:       `icon/${ index }.png`,
          } )
          p.button__content= `${ val }`


