mixin navigation-bar( belongBlock )
  -
    let n = 1
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        title: '維護項目',
        nav: {
          profile:     'profile',
          award:       'award',
          publication: 'publication',
          conference:  'conference',
          patent:      'patent',
          project:     'project',
          student_award: 'student-award',
          technology_transfer: 'technology-transfer',
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        title: '維護項目',
        nav: {
          profile:             '個人資料',
          award:               '榮譽及獲獎',
          publication:         '著作',
          conference:          '參與會議',
          patent:              '專利',
          project:             '專案',
          student_award:       '指導學生獲獎',
          technology_transfer: '技術轉移',
        },
      },
    } );

  nav.navigation( class=`${belongBlock}__navigation` )
    section.navigation__title
      h.title__word= i18n[LANG.id].title
    each val, index in i18n[LANG.id].nav
      section.navigation__block.block( id=`navigation__${index}` )
        p.block__number= `${ n++ }`
        p.block__content= `${ val }`
