//- Judge if the content is drive fist, and sort to 3 kinds
//- If the content is not drive, sort to 2 kinds
mixin traffic( content )
  each val, index in content
    if content.length === 2
      //- Heading
      if index === 0
        h2.traffic__text.traffic__text--large= val
        br
        br
      else
        p.traffic__text.traffic__text--small= val
    else
      //- Heading
      if index === 0
        h2.traffic__text.traffic__text--large= val
        br
        br
      //- `.traffic__text--rectangle`
      else if index === 1 || index === 4
        p.traffic__text.traffic__text--rectangle= val
      //- End of Paragraph
      else if index === 3
        p.traffic__text.traffic__text--small= val
        br
      else
        p.traffic__text.traffic__text--small= val
        