extends /layouts/base.pug
include /components/user/navigation-bar.pug
include /components/user/local-topic.pug
include /components/user/input-block.pug 
include /components/user/button.pug
include /components/common/topic.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        title:      'User Profile',
        breadcrumb: {
          home:     'Home',
          user:     'User',
        },
        content: {
          topic: '教師資料維護',
          profile: {
            image:           '編輯相片',
            topic:           '個人資料 / Profile',
            name_ch:         '姓名',
            name_en:         'name',
            title_ch:        '職稱',
            title_en:        'title',
            department:      '系所別（可複選）',
            research:        '研究群 (可複選)',
            office_ch:       '辦公室',
            office_en:       'office',
            lab_name_ch:     '實驗室名稱',
            lab_name_en:     'Lab Name',
            lab_location_ch: '實驗室位置',
            lab_location_en: 'Lab Location',
            lab_tel:         '實驗室電話 / Lab Tel',
            lab_web:         '實驗室網站 / Lab Web',
            office_tel:      '聯絡電話 / Office Tel',
            email:           'Email',
            fax:             '傳真 / Fax',
            personal_web:    '個人網站 / Personal Web',
            specilty_ch:     '專長領域',
            specilty_en:     'Specilty',
          },
          education: {
            topic:         '學歷 / Education',
            duration_from: '從 / From',
            duration_to:   '至 / To',
            nation:        '國家 / Nation',
            school_ch:     '學校',
            school_en:     'School', 
            major_ch:      '主修',
            major_en:      'Major',
            degree:        'Degree',
          },
          experience: {
            topic:           '經歷 / Experience',
            organization_ch: '任職單位',
            organization_en: 'Organization',
            department_ch:   '任職部門',
            department_en:   'Department',
            title_ch:        '職位',
            title_en:        'title',
          },
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        title:      '使用者資料管理',
        breadcrumb: {
          home:     '首頁',
          user:     '使用者',
        },
        content: {
          topic: '教師資料維護',
          profile: {
            image:           '編輯相片',
            topic:           '個人資料 / Profile',
            name_ch:         '姓名',
            name_en:         'name',
            title_ch:        '職稱',
            title_en:        'title',
            department:      '系所別（可複選）',
            research:        '研究群 (可複選)',
            office_ch:       '辦公室',
            office_en:       'office',
            lab_name_ch:     '實驗室名稱',
            lab_name_en:     'Lab Name',
            lab_location_ch: '實驗室位置',
            lab_location_en: 'Lab Location',
            lab_tel:         '實驗室電話 / Lab Tel',
            lab_web:         '實驗室網站 / Lab Web',
            office_tel:      '聯絡電話 / Office Tel',
            email:           'Email',
            fax:             '傳真 / Fax',
            personal_web:    '個人網站 / Personal Web',
            specilty_ch:     '專長領域',
            specilty_en:     'Specilty',
          },
          education: {
            topic:         '學歷 / Education',
            duration_from: '從 / From',
            duration_to:   '至 / To',
            nation:        '國家 / Nation',
            school_ch:     '學校',
            school_en:     'School', 
            major_ch:      '主修',
            major_en:      'Major',
            degree:        '學位',
          },
          experience: {
            topic:           '經歷 / Experience',
            organization_ch: '任職單位',
            organization_en: 'Organization',
            department_ch:   '任職部門',
            department_en:   'Department',
            title_ch:        '職位',
            title_en:        'title',
          },
        },
      },
    } );
    const currentRoute = 'user/profile';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'user/profile' )

append header

append breadcrumb
  +breadcrumb(
    'content',
    [
      { text: i18n[ LANG.id ].breadcrumb.home, route: '' },
      { text: i18n[ LANG.id ].breadcrumb.user, route: 'user' },
      { text: i18n[ LANG.id ].title },
    ]
  )

append content
  +navigation-bar( 'content' )
  main.content__information.information
    +topic( 'information', i18n[ LANG.id ].content.topic )
    article.information__profile.profile
      +local-topic( 'profile', i18n[ LANG.id ].content.profile.topic )
      section.profile__personal.personal
        section.personal__name
          +input-block( 'name', i18n[LANG.id].content.profile.name_ch, 'name_ch', true )
          +input-block( 'name', i18n[LANG.id].content.profile.name_en, 'name_en', true )
        section.personal__title
          +button( 'title', 'add' )
          +input-block( 'title', i18n[ LANG.id ].content.profile.title_ch, 'title_ch', true, '副教授' )
          +input-block( 'title', i18n[ LANG.id ].content.profile.title_en, 'title_en', true )
          +button( 'title', 'delete' )
      section.profile__filter.filter
        section.filter__department.department
          aside.department__title
            p.title__required= '*'
            p.title__content= i18n[ LANG.id ].content.profile.department
          each departmentId in UTILS.faculty.departmentUtils.supportedId
            button.department__tag(
              data-department-id = `${ departmentId }`
            )= UTILS.faculty.departmentUtils.getValueById( { id: departmentId, languageId: LANG.id } )
        section.filter__research-group.research-group
          aside.research-group__title
            p.title__required= '*'
            p.title__content= i18n[ LANG.id ].content.profile.research
          each researchGroupId in UTILS.faculty.researchGroupUtils.supportedId
            button.research-group__tag(
              data-research-group-id = `${ researchGroupId }`,
            )= UTILS.faculty.researchGroupUtils.getValueById( { id: researchGroupId, languageId: LANG.id } )
      section.profile__image
          button.image__change= i18n[ LANG.id ].content.profile.image
      section.profile__work
        section.work__office.office
          +image( {
            alt:       '>',
            className: `block__image`,
            src:       `icon/location.png`,
          } )
          +input-block( 'office', i18n[ LANG.id ].content.profile.office_ch, 'office_ch', false, "Ex.資訊系新館大樓12F 65C11" )
          +input-block( 'office', i18n[ LANG.id ].content.profile.title_en, 'office_en' )
        section.work__lab-name.lab-name  
          +image( {
            alt:       '>',
            className: `block__image`,
            src:       `icon/laboratory.png`,
          } )       
          +input-block( 'lab-name', i18n[ LANG.id ].content.profile.lab_name_ch, 'lab-name_ch', false, "Ex.智慧型知識管理實驗室" )
          +input-block( 'lab-name', i18n[ LANG.id ].content.profile.lab_name_en, 'lab-name_en' )
        section.work__lab-location.lab-location
          +image( {
            alt:       '>',
            className: `block__image`,
            src:       `icon/laboratory.png`,
          } )  
          +input-block( 'lab-location', i18n[ LANG.id ].content.profile.lab_location_ch, 'lab-location_ch', false, "Ex.資訊系新館大樓9F 65903" )
          +input-block( 'lab-location', i18n[ LANG.id ].content.profile.lab_location_en, 'lab-location_en' )
        section.work__lab-tel.lab-tel
          +image( {
            alt:       '>',
            className: `block__image`,
            src:       `icon/laboratory.png`,
          } )  
          +input-block( 'lab-tel', i18n[ LANG.id ].content.profile.lab_tel, 'lab-tel', true )
        section.work__lab-web.lab-web
          +image( {
            alt:       '>',
            className: `block__image`,
            src:       `icon/laboratory.png`,
          } )  
          +input-block( 'lab-web', i18n[ LANG.id ].content.profile.lab_web, 'lab-web' )
        section.work__office-tel.office-tel
          +image( {
            alt:       '>',
            className: `block__image`,
            src:       `icon/phone.png`,
          } )  
          +input-block( 'office-tel', i18n[ LANG.id ].content.profile.office_tel, 'office-tel', true )
        section.work__email.email
          +image( {
            alt:       '>',
            className: `block__image`,
            src:       `icon/envelope.png`,
          } )  
          +input-block( 'email', i18n[ LANG.id ].content.profile.email, 'email' )
        section.work__fax.fax
          +image( {
            alt:       '>',
            className: `block__image`,
            src:       `icon/printer.png`,
          } )  
          +input-block( 'fax', i18n[ LANG.id ].content.profile.fax, 'fax' )
        section.work__personal-web.personal-web
          +image( {
            alt:       '>',
            className: `block__image`,
            src:       `icon/user.png`,
          } )  
          +input-block( 'personal-web', i18n[ LANG.id ].content.profile.personal_web, 'personal-web', false )
        section.work__specilty
          +button( 'specilty', 'add' )
          +input-block( 'specilty', i18n[ LANG.id ].content.profile.specilty_ch, 'specilty_ch' )
          +input-block( 'specilty', i18n[ LANG.id ].content.profile.specilty_en, 'specilty_en' )
          +button( 'specilty', 'delete' )

    article.information__education.education
      +local-topic( 'education', i18n[ LANG.id ].content.education.topic )
      section.education__detail
        section.detail__duration-from
          +input-block( 'duration-from', i18n[ LANG.id ].content.education.duration_from, 'duration-from' )
        section.detail__duration-line
        section.detail__duration-to
          +input-block( 'duration-to', i18n[ LANG.id ].content.education.duration_to, 'duration-to' )
        section.detail__nation
          +input-block( 'nation', i18n[ LANG.id ].content.education.nation , 'nation')
        section.detail__school
          +input-block( 'school', i18n[ LANG.id ].content.education.school_ch, 'school-ch', false, '國立台灣大學' )
          +input-block( 'school', i18n[ LANG.id ].content.education.school_en, 'school-en', false, 'The Ohio State University' )
        section.detail__major
          +input-block( 'major', i18n[ LANG.id ].content.education.major_ch, 'school-ch', false, '電機工程' )
          +input-block( 'major', i18n[ LANG.id ].content.education.major_en, 'school-en', false, 'Computer and Informat' )
        section.detail__degree 
          +input-block( 'degree', i18n[ LANG.id ].content.education.degree, 'degree' )
    article.information__experience
      +local-topic( 'experience', i18n[ LANG.id ].content.experience.topic )  
      section.experience__detail
        section.detail__duration-from
          +input-block( 'duration-from', i18n[ LANG.id ].content.education.duration_from, 'duration-from' )
        section.detail__duration-line
        section.detail__duration-to
          +input-block( 'duration-to', i18n[ LANG.id ].content.education.duration_to, 'duration-to' )
        section.detail__organization
          +input-block( 'organization', i18n[ LANG.id ].content.experience.organization_ch, 'organization-ch' )
          +input-block( 'organization', i18n[ LANG.id ].content.experience.organization_en, 'organization-en' )
        section.detail__department
          +input-block( 'department', i18n[ LANG.id ].content.experience.department_ch, 'department-ch' )
          +input-block( 'department', i18n[ LANG.id ].content.experience.department_en, 'department-en' ) 
        section.detail__title
          +input-block( 'title', i18n[ LANG.id ].content.experience.title_ch, 'title-ch' ) 
          +input-block( 'title', i18n[ LANG.id ].content.experience.title_en, 'title-en' ) 

append footer

append scripts
  +js( 'user/profile' )
