extends /layouts/base.pug

append data
  -
    const i18n = Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        title:      'Reset Password',
        breadcrumb: {
          home:     'Home',
          user:     'User',
        },
        content: {
          label: {
            account:     'account',
            passwordOld: 'old password',
            passwordNew: 'new password',
            passwordConfirm: 'new password check',
            submit:        'submit',
          }
        }
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        title:      '重設密碼',
        breadcrumb: {
          home:     '首頁',
          user:     '使用者',
        },
        content: {
          label: {
            account:       '帳號',
            passwordOld:   '舊密碼',
            passwordNew:   '新密碼',
            passwordConfirm: '新密碼確認',
            submit:        '提交變更',
          }
        }
      },
    } );
    const currentRoute = 'user/resetPassword';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'user/resetPassword' )

append header
  +banner(
    'body',
    i18n[ LANG.id ].title
  )

append breadcrumb
  +breadcrumb(
    'content',
    [
      { text: i18n[ LANG.id ].breadcrumb.home, route: '' },
      { text: i18n[ LANG.id ].breadcrumb.user, route: 'user' },
      { text: i18n[ LANG.id ].title },
    ]
  )

append content
  include /components/common/topic.pug
  include /components/common/image.pug

  +topic( 'content', i18n[ LANG.id ].title )
  form.content__form.form#form(
    action= '/user/resetPassword',
    method= 'post',
  )
    label.form__label.form__label--passwordOld( for='form__passwordOld' )= i18n[ LANG.id ].content.label.passwordOld
    input.form__input.form__input--passwordOld#form__passwordOld(
      name= 'oldPassword',
      column= 'passwordOld',
      type='password',
      required,
    )
    label.form__label.form__label--passwordNew( for='form__passwordNew' )= i18n[ LANG.id ].content.label.passwordNew
    input.form__input.form__input--passwordNew#form__passwordNew(
      name= 'newPassword',
      column= 'passwordNew',
      type='password',
      required,
      pattern= '[a-zA-Z0-9_]{4,16}'
      minlength= '4',
      maxlength= '16',
    )
    label.form__label.form__label--passwordConfirm( for='form__passwordConfirm' )= i18n[ LANG.id ].content.label.passwordConfirm
    input.form__input.form__input--passwordConfirm#form__passwordConfirm(
      name= 'confirmPassword',
      column= 'passwordConfirm',
      type='password',
      required,
      pattern= '[a-zA-Z0-9_]{4,16}',
      minlength= '4',
      maxlength= '16',
    )
    if error !== null
      p.form__error.form__error--show#error= error
    else
      p.form__error#error
    button.form__submit#form__submit= i18n[ LANG.id ].content.label.submit

append footer

append scripts
  +js( 'user/resetPassword' )
