mixin announcement__briefing( briefings )
  section( class=`briefing announcement__briefing announcement__briefing--${briefings.classname}`, href=briefings.articleUrl )
    h1( class='briefing__title' )= briefings.title
    aside( class='tags briefing__tags' )
      each tag in briefings.tags
        button( class=`tags__tag tags__tag--${ tag }` )
          a= tag
    p( class='briefing__article' )= briefings.excerpt
    time( class='briefing__time' )= briefings.time

