mixin post_detailArticle( post )
  section.detail
    aside.tags.briefing__tags.scrollbox
      each tag in post.tags
        button.tags__tag( class=`tags__tag--${ tag }` )
          a= tag
    h1.detail__title= post.title
    p.detail__announcer= post.announcer
    time.detail__time= post.time
    article.detail__article
    a.detail__button= post.button
    //- const test = `document.getElementsByClassName("detail__article")[0].innerHTML= "${ post.article }"`
    //script !{test}
    script window.config = {}; window.config.postArticle = '#{post.article}';
    script(src= `../js/announcement/post_detail.js`)
    aside.detail__watchThrough= post.watch
