a.briefings__briefing.briefing( href = UTILS.url( { href : `announcement/${ briefing.announcementId }` } ) )
  h1.briefing__title= briefing.title
  p.briefing__article= briefing.content
  time.briefing__time= briefing.updateTime
  aside.briefing__tags.tags
    each tagObj in briefing.tags
      button.tags__tag( class=`tags__tag--${ tagObj.color }` )= tagObj.tag
  if userId != -1 
    aside.briefing__button.button
      img.button__pin.pin( 
        alt = 'pin', 
        class = `button__pin--${ briefing.announcementId }`,
        src = `${ host }/static/image/icon/pin.png`,
      )
      img.button__update.update( 
        alt = 'update', 
        class = `button__update--${ briefing.announcementId }`,
        src = `${ host }/static/image/icon/edit.png`,
      )
      img.button__remove.remove( 
        alt = 'remove', 
        class = `button__remove--${ briefing.announcementId }`,
        src = `${ host }/static/image/icon/delete.png`,
      )
