a.briefings__briefing.briefing( href = UTILS.url( { href : `announcement/${ id }` } ) )
  aside.briefing__tags.tags
    each tag in tags
      button.tags__tag( class=`tags__tag--${ tag.id }` )= tag.name
  h1.briefing__title= title
  p.briefing__article= content
  time.briefing__time= time
