mixin briefings__briefing--hotnews( briefing )
  article.briefings__briefing.briefing( href=briefing.articleUrl )
    p.briefing__number= briefing.number
    aside.briefing__text.text
      h1.text__title= briefing.title
      p.text__article= briefing.excerpt
      time.text__time= briefing.time