a.editor__update.update( href = `${ host }/user/announcement/edit/${ announcementId }?languageId=${ languageId }` )
    img.update__image.image( 
    alt = 'update', 
    src = `${ host }/static/image/icon/edit.png`,
    )
img.editor__remove.remove( 
  alt = 'remove', 
  src = `${ host }/static/image/icon/delete.png`,
)