mixin filter( filter )
  -
    const i18n = Object.freeze( {
      'en-US': {
        'button': 'filter',
        'time':   {
          'start': 'Start Date',
          'end':   'End Date',
        },
        'tags': {
          'all':           'all',
          'award':         'award',
          'college':       'college',
          'competition':   'competition',
          'conference':    'conference',
          'course':        'course',
          'exhibition':    'exhibition',
          'faculty':       'faculty',
          'international': 'international',
          'internship':    'internship',
          'master':        'master',
          'phd':           'phd',
          'recruitment':   'recruitment',
          'rule':          'rule',
          'scholarship':   'scholarship',
          'speech':        'speech',
        },
      },
      'zh-TW': {
        'button': '過濾器',
        'time':   {
          'start': '開始日期',
          'end':   '結束日期',
        },
        'tags': {
          'all':           '全部',
          'award':         '榮譽',
          'college':       '大學部',
          'competition':   '競賽',
          'conference':    '研討會',
          'course':        '課程',
          'exhibition':    '展覽',
          'faculty':       '教職人員',
          'international': '國際交流',
          'internship':    '實習',
          'master':        '碩士',
          'phd':           '博士',
          'recruitment':   '徵人',
          'rule':          '法規彙編',
          'scholarship':   '獎學金',
          'speech':        '演講',
        },
      },
    } );

  mixin filter__time()
    article#filter__time.filter__time.filter__time--hidden.time
      aside
        label= i18n[ language ].time.start
        input#startTime.time__date( type='date' )
      aside
        label= i18n[ language ].time.end
        input#endTime.time__date( type='date' )

  mixin filter__tags( tags )
    article#filter__tags.filter__tags.filter__tags--hidden.tags
      each tag in tags
        button( id=`tags__tag--${ tag }`, class=`tags__tag--${ tag } tags__tag` )= i18n[ language ].tags[ tag ]

  section.filter( class=`filter--${ filter.modifier }` )
    button#filter__button.filter__button.button
      span= i18n[ language ].button
      span#button__icon.button__icon
    +filter__time()
    +filter__tags( filter.tags )
