mixin cards__card( teacherInfo = {} )
  figure.cards__card.card
    img.card__photo( src=teacherInfo.imageURL, alt='' )
    article.card__intro.intro
      h1.intro__name= teacherInfo.name
      //- wrappingArr() -> wrapping a array into multiple spans
      section.intro__titles
        +wrappingArr( 'intro__title', teacherInfo.titles )
      //- wrappingArr() -> wrapping a array into multiple spans
      section.intro__depts
        +wrappingArr( 'intro__dept', teacherInfo.depts )
      if ((teacherInfo.offices.length > 0) && (teacherInfo.offices !== null))
        each office in teacherInfo.offices
          address.intro__address= office.address
          p.intro__phone= office.tel
    article.card__info.info
      if teacherInfo.linkURL !== null
        a.info__personal-website( href=teacherInfo.linkURL )
      p.info__email= teacherInfo.emailURL

mixin wrappingArr( className, arr)
  if arr!==null
    each ele in arr
      span( class=className )= ele
