mixin cards__card( teacherInfo = {} )
  figure.cards__card.card
    img.card__photo( src=teacherInfo.imageURL, alt='' )
    article.card__intro.intro
      h1.intro__name= teacherInfo.nameText
      h2.intro__title= teacherInfo.titleText
      p.intro__department= teacherInfo.deptText
      address.intro__address= teacherInfo.addressText
    article.card__info.info
      a.info__personal-website( href=teacherInfo.linkURL ) 個人網頁
      p.info__email= teacherInfo.emailURL
      p.info__phone= teacherInfo.phoneText
