extends /layouts/base.pug

append data
  -
    const i18n= Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        title:    'For High School Students',
        breadcrumb: {
          home:  'Home',
          student: 'Students',
        },
        index: {
          title: 'For High School Students',
          link: {
            curriculum:   'Curriculum',
            event:        'Events',
            statistics:   'Statistics',
            alumni:       'Alumni',
            information:  'Information',
            qa:           'Q&A',
            link:         'Links',
        },
      },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        title: '高中生專區',
        breadcrumb: {
          home:  '首頁',
          student: '學生事務',
        },
        index: {
          title: '高中生專區',
          link: {
            curriculum:   '課程資訊',
            event:        '課外活動',
            statistics:   '統計數據',
            alumni:       '傑出系友',
            information:  '入學資訊',
            qa:           'Q&A',
            link:         'FB連結',
          },
        },
      },
    } );
    const currentRoute = 'student/high-school';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'student/high-school' )

append header
  +banner(
    'body',
    i18n[ LANG.id ].title
  )

append breadcrumb
  +breadcrumb(
    'content',
    [
      { text: i18n[ LANG.id ].breadcrumb.home, route: '' },
      { text: i18n[ LANG.id ].breadcrumb.student, route: 'student' },
      { text: i18n[ LANG.id ].title },
    ]
  )

append content
  include /components/common/topic.pug
  include /components/about/intro/ieet-i18n.pug
  include /components/student/high-school/link.pug

  section.content__index.index
    +topic( 'index', i18n[ LANG.id ].index.title )
    each value, key in i18n[ LANG.id ].index.link
      a.index__link( href = `#${ key }` )= value

  section#curriculum.content__curriculum.curriculum
    +topic( 'curriculum', i18n[ LANG.id ].index.link.curriculum )
    section.curriculum__goal.goal
      article.goal__context.context
        article.context__paragraph.paragraph
          header.paragraph__title= ieetI18n()[ LANG.id ][1].context[0].title
          if typeof ieetI18n()[ LANG.id ][1].context[0].image !== 'undefined'
            figure.paragraph__concept.concept
              +image( {
                alt: ieetI18n()[ LANG.id ][1].context[0].image.alt,
                className: ieetI18n()[ LANG.id ][1].context[0].image.className,
                src: ieetI18n()[ LANG.id ][1].context[0].image.src,
              } )
          else
            each paragraph in ieetI18n()[ LANG.id ][1].context[0].paragraph
              if paragraph.type === 'text'
                p.paragraph__text= paragraph.text
              else if paragraph.type === 'list'
                ul.paragraph__list.list
                  each list in paragraph.list
                    li.list__text= list
              else
                p.paragraph__list-description= paragraph.listDescription
      article.goal__context.context
        article.context__paragraph.paragraph
          header.paragraph__title= ieetI18n()[ LANG.id ][1].aspect
          a.paragraph__link( href = ieetI18n()[ LANG.id ][2].link )= ieetI18n()[ LANG.id ][2].context

  section#event.content__event.event
    +topic( 'event', i18n[ LANG.id ].index.link.event )
    section.event__goal.goal
      article.goal__context.context
        article.context__paragraph.paragraph
          p.paragraph__list-description= '施工中'

  section#statistics.content__statistics.statistics
    +topic( 'statistics', i18n[ LANG.id ].index.link.statistics )
    section.statistics__goal.goal
      article.goal__context.context
        article.context__paragraph.paragraph
          p.paragraph__list-description= '施工中'

  section#information.content__information.information
    +topic( 'information', i18n[ LANG.id ].index.link.information )
    section.information__goal.goal
      article.goal__context.context
        article.context__paragraph.paragraph
          p.paragraph__list-description= '施工中'

  section#qa.content__qa.qa
    +topic( 'qa', i18n[ LANG.id ].index.link.qa )
    section.qa__goal.goal
      article.goal__context.context
        article.context__paragraph.paragraph
          p.paragraph__list-description= '施工中'

  section#link.content__link.link
    +topic( 'link', i18n[ LANG.id ].index.link.link )
    section.link__goal.goal
      article.goal__context.context
        article.context__paragraph.paragraph
          each linkContent in linkI18n()[ LANG.id ]
            a.paragraph__link( href = linkContent.link )= linkContent.content

append footer

append scripts
  +js( 'student/high-school' )
