extends /layouts/base.pug

append data
  -
    const i18n= Object.freeze( {
      [ LANG.getLanguageId( 'en-US' ) ]: {
        title:    'For High School Students',
        breadcrumb: {
          home:  'Home',
          student: 'Students',
        },
        index: {
          title: 'For High School Students',
          link: {
            curriculum:   'Curriculum',
            statistics:   'Statistics',
            event:        'Events',
            qa:           'Q&A',
            link:         'Links',
          },
        },
        content:{
            curriculum:{
                imageCaption: 'Course Map',
                introduction:{
                    text: 'Introduction of NCKU CSIE',
                    link: 'http://localhost:3001/about/intro?languageId=0',
                },
                courseMap:{
                    text: 'Link to the course map',
                    link: 'http://course-query.acad.ncku.edu.tw/crm/course_map/department.php?dept=F7',
                },
            },
            statistics:{
                starPlan: 'Star Plan',
                gsat: 'General Scholastic Ability Test',
                ast: 'Advanced Subjects Test',
                foreignIndi: 'Indigenous Students and Foreign Students',
            },
            event:[
                {
                    text: 'Waking Lion',
                    imgSrc: 'event/lion.jpg',
                    id: 'lion',
                },
                {
                    text: 'CSIE Camp',
                    imgSrc: 'event/csiecamp.jpg',
                    id: 'csiecamp',
                },
                {
                    text: 'CSIE Week',
                    imgSrc: 'event/csieweek.jpg',
                    id: 'csieweek',
                },
                {
                    text: 'CSIE BBQ',
                    imgSrc: 'event/sand.jpg',
                    id: 'sand',
                },
                {
                    text: 'Sports Team',
                    imgSrc: 'event/sport.jpg',
                    id: 'sport',
                },
                {
                    text: 'TangYuan Festival',
                    imgSrc: 'event/tangyuan.jpg',
                    id: 'tangyuan',
                },
            ],
        },
      },
      [ LANG.getLanguageId( 'zh-TW' ) ]: {
        title: '高中生專區',
        breadcrumb: {
          home:  '首頁',
          student: '學生事務',
        },
        index: {
          title: '高中生專區',
          link: {
            curriculum:   '課程資訊',
            statistics:   '統計數據',
            event:        '課外活動',
            qa:           'Q&A',
            link:         'FB連結',
          },
        },
        content:{
            curriculum:{
                imageCaption: '課程資訊地圖',
                introduction:{
                    text: '系所介紹',
                    link: 'http://localhost:3001/about/intro?languageId=0',
                },
                courseMap:{
                    text: '課程地圖連結',
                    link: 'http://course-query.acad.ncku.edu.tw/crm/course_map/department.php?dept=F7',
                },
            },
            statistics:{
                starPlan: '繁星計畫',
                gsat: '大學學科能力測驗(學測)',
                ast: '大學入學指定科目考試(指考)',
                foreignIndi: '原住民與外籍生錄取人數',
            },
            event:[
                {
                    text: '醒獅團程式教學',
                    imgSrc: 'event/lion.jpg',
                    id: 'lion',
                },
                {
                    text: '資訊營',
                    imgSrc: 'event/csiecamp.jpg',
                    id: 'csiecamp',
                },
                {
                    text: '資訊週',
                    imgSrc: 'event/csieweek.jpg',
                    id: 'csieweek',
                },
                {
                    text: '系砂鍋',
                    imgSrc: 'event/sand.jpg',
                    id: 'sand',
                },
                {
                    text: '系隊',
                    imgSrc: 'event/sport.jpg',
                    id: 'sport',
                },
                {
                    text: '湯圓會',
                    imgSrc: 'event/tangyuan.jpg',
                    id: 'tangyuan',
                },
            ],
        },
      },
    } );
    const currentRoute = 'student/high-school';

append title
  +title( i18n[ LANG.id ].title )

append stylesheets
  +css( 'student/high-school' )

append header
  +banner(
    'body',
    i18n[ LANG.id ].title
  )

append breadcrumb
  +breadcrumb(
    'content',
    [
      { text: i18n[ LANG.id ].breadcrumb.home, route: '' },
      { text: i18n[ LANG.id ].breadcrumb.student, route: 'student' },
      { text: i18n[ LANG.id ].title },
    ]
  )

append content
  include /components/common/topic.pug
  include /components/student/high-school/link.pug
  include /components/common/image.pug

  section.content__index.index
    +topic( 'index', i18n[ LANG.id ].index.title )
    each value, key in i18n[ LANG.id ].index.link
      a.index__link( href = `#${ key }` )= value

  section#curriculum.content__curriculum.curriculum
    +topic( 'curriculum', i18n[ LANG.id ].index.link.curriculum )
    section.curriculum__goal.goal
      article.goal__context.context
        article.context__paragraph.paragraph
          a.paragraph__link( href = i18n[ LANG.id ].content.curriculum.introduction.link )= i18n[ LANG.id ].content.curriculum.introduction.text
          a.paragraph__link( href = i18n[ LANG.id ].content.curriculum.courseMap.link )= i18n[ LANG.id ].content.curriculum.courseMap.text

  section#statistics.content__statistics.statistics
    +topic( 'statistics', i18n[ LANG.id ].index.link.statistics )
    section.statistics__goal.goal
      article.goal__context.context
        article.context__paragraph.paragraph
          p.paragraph__title= i18n[ LANG.id ].content.statistics.starPlan
          figure#starPlanStudentNum.paragraph__plot.plot
            svg.plot__lineChart.plot__lineChart--starPlanStudentNum
          p.paragraph__title= i18n[ LANG.id ].content.statistics.gsat
          figure#gsatStudentNum.paragraph__plot.plot
            svg.plot__lineChart.plot__lineChart--gsatStudentNum
          figure#gsatMinScore.paragraph__plot.plot
            svg.plot__lineChart.plot__lineChart--gsatMinScore
          p.paragraph__title= i18n[ LANG.id ].content.statistics.ast
          figure#astStudentNum.paragraph__plot.plot
            svg.plot__lineChart.plot__lineChart--astStudentNum
          figure#astMinScore.paragraph__plot.plot
            svg.plot__lineChart.plot__lineChart--astMinScore
          p.paragraph__title= i18n[ LANG.id ].content.statistics.foreignIndi
          figure#indigenousStudentNum.paragraph__plot.plot
            svg.plot__lineChart.plot__lineChart--indigenousStudentNum
          figure#foreignStudentNum.paragraph__plot.plot
            svg.plot__lineChart.plot__lineChart--foreignStudentNum

  section#event.content__event.event
    +topic( 'event', i18n[ LANG.id ].index.link.event )
    section.event__goal.goal
      article.goal__context.context
        article.context__paragraph.paragraph
          each eventContent in i18n[ LANG.id ].content.event
            figure.paragraph__eventImg.eventImg
              span.eventImg__helper
              +image( { alt: eventContent.text, className: `eventImg__img`, src: eventContent.imgSrc } )
              figcaption.eventImg__caption= eventContent.text

  section#qa.content__qa.qa
    +topic( 'qa', i18n[ LANG.id ].index.link.qa )
    section.qa__goal.goal
      article.goal__context.context
        article.context__paragraph.paragraph
          p.paragraph__list-description= '施工中'
          

  section#link.content__link.link
    +topic( 'link', i18n[ LANG.id ].index.link.link )
    section.link__goal.goal
      article.goal__context.context
        article.context__paragraph.paragraph
          each linkContent in linkI18n()[ LANG.id ]
            a.paragraph__link( href = linkContent.link )= linkContent.content

append footer

append scripts
  +js( 'student/high-school' )
  script( src = 'https://d3js.org/d3.v5.js' )
